Repository CCBlueX/LiquidBounce, pull requests merged in 2021-07, with the labels that each got.

#530 added crystalaura module
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleCrystalAura.kt
Labels: 🌑 nextgen, 🔥 enhancement

#541 PingSpoof clean-up + improvements.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModulePingSpoof.kt
  src/main/resources/assets/liquidbounce/lang/en_us.json
Labels: 🌑 nextgen, 🔥 enhancement

#554 Added Ping command.
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandPing.kt
  src/main/resources/assets/liquidbounce/lang/en_us.json
Labels: 🌑 nextgen, 🔥 enhancement

#538 Added AutoGapple module.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoGapple.kt
Labels: 🌑 nextgen, 🔥 enhancement

#550 Added FriendClicker (MidClick) module.
  src/main/kotlin/net/ccbluex/liquidbounce/features/misc/FriendManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/ModuleFriendClicker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleESP.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleTraces.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/client/ClientUtils.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/client/TextExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/combat/CombatExtensions.kt
  src/main/resources/assets/liquidbounce/lang/en_us.json
Labels: 🌑 nextgen, 🔥 enhancement

#564 Added AntiReducedDebugInfo module.
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/entity/MixinPlayerEntity.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModuleAntiReducedDebugInfo.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModuleForceUnicodeChat.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModuleKick.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModulePlugins.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModuleResourceSpoof.kt
Labels: 🌑 nextgen, 🔥 enhancement

#593 fixed building
  build.gradle
Labels: ❓ information needed, 🌑 nextgen, 🐛 bug, 🚮 invalid

#578 feat(module): add notifier module
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/ModuleNotifier.kt
Labels: 🌑 nextgen, 👷 development build, 🔥 enhancement
