Repository CCBlueX/LiquidBounce, pull requests merged in 2021-06, with the labels that each got.

#545 fix autoarmor bug
  shared/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.java
Labels: 🐛 bug

#544 Added Timer option to Zoot.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleZoot.kt
Labels: 🌑 nextgen, 🔥 enhancement

#546 Github issue forms
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 📝 documentation
