Repository CCBlueX/LiquidBounce, pull requests merged in 2023-11, with the labels that each got.

#1494 LEGACY: Canceled every received packet for Backtrack module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#1492 [Legacy] Blink for new gen ACs + NoClip Speed + Vanilla flight smoother + Vanilla fly kick rubberband fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoClip.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vanilla/Vanilla.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1498 [Legacy] Backtrack stuff + Backtrack blink compatibility
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
Labels: 🔥 enhancement, 🌕 legacy

#1502 Add backtrack packet exclusions (purely audio/visual)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🔥 enhancement, 🌕 legacy

#1507 Sprint only if started to sprint manually
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
Labels: 🔥 enhancement, 🌕 legacy

#1512 [LEGACY] Added FakeLag and Vanilla AutoBlock
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1513 [LEGACY] Fixed FakeLag and Backtrack
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1523 Sprint improvements for only if pressing sprint mode + FakeLag distance
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vanilla/Vanilla.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/implementations/IMixinEntity.kt
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1534 KillAura fix + Backtrack improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1528 [Legacy]custom motion critical
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1553 [NEXTGEN] Fixed InvCleaner + ChestStealer + AutoArmor
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoArmor.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleChestStealer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/CleanupPlan.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/CleanupPlanGenerator.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ItemCategorization.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ItemMerge.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ItemSlot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ModuleInventoryCleaner.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedArmorItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedArrowItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedBlockItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedBowItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedCrossbowItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedFoodItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedPrimitiveItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedRodItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedShieldItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedSwordItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/items/WeightedToolItem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/item/ArmorComparator.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/item/ArmorPiece.kt
Labels: 🐛 bug, 🌑 nextgen

#1576 [LEGACY] Added Speed UNCPHop mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1572 [LEGACY] TimerRange
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1524 (legacy) Buzz longjump
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Buzz.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1577 [LEGACY] Added speed NewVerusLowHop mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/NewVerusLowHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1579 Update Chinese translation
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🔥 enhancement, 🌕 legacy

#1580 [LEGACY] Added UNCP NoSlow mode (SwordBlock/Consume)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1581 [LEGACY] UNCP -> UpdatedNCP
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🌕 legacy

#1583 [LEGACY] Add SlowOnlyGround
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1584 [LEGACY] Add an ESP option for Backtrack
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🔥 enhancement, 🌕 legacy

#1585 [LEGACY] Make more values subjective
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
Labels: 🔥 enhancement, 🌕 legacy

#1588 [LEGACY] Fix UpdatedNCP Sword NoSlow stopping you when you jump
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1537 Target renderer
  src/main/kotlin/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/ConditionalConfigurables.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/Configurable.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoBow.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleCriticals.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleVelocity.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleNoSlow.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleNoWeb.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/nametags/ModuleNametags.kt
  src/main/kotlin/net/ccbluex/liquidbounce/render/RenderShortcuts.kt
  src/main/kotlin/net/ccbluex/liquidbounce/render/engine/RenderTasks.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/render/TargetRenderer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/render/WorldToScreen.kt
Labels: 🔥 enhancement, 🌑 nextgen
