Repository CCBlueX/LiquidBounce, pull requests merged in 2023-10, with the labels that each got.

#1377 LEGACY: Added Min/Max Horizontal/Vertical Placements and StartHorizontally options to Scaffold.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#1379 LEGACY: Improved AntiFireball module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
Labels: 🔥 enhancement, 🌕 legacy

#1378 LEGACY -> Added JumpTicks option to Scaffold
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#1394 LEGACY: Fixed CPSCounter displaying clicks on all buttons.
  src/main/java/net/ccbluex/liquidbounce/utils/CPSCounter.kt
Labels: 🐛 bug, 🌕 legacy

#1402 LEGACY: Reworked Sprint module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FastBow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1414 LEGACY: Improved ChestAura/Fucker/NoRotateSet and many more...
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/BlockExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/misc/RandomUtils.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy, 🧩 compatibility

#1417 AutoSoup bug fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#1419 [Legacy] A Small Fix For Switch Item NoSlow
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🌕 legacy

#1427 LEGACY: Fixed Legit Speed mode sprinting on all directions by default.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/Legit.kt
Labels: 🐛 bug, 🌕 legacy

#1430 [LEGACY] Inventory rework fixes and improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/beta/CoroutineArmorer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/beta/CoroutineCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/beta/CoroutineStealer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/CoroutineArmorComparator.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1434 LEGACY: Fixed NoSlow AAC5 ConsumeMode consuming food forever.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🌕 legacy

#1437 LEGACY: Improved Jump Velocity mode and added subjective parameters to more modules' options.
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SettingsUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#1440 [LEGACY] ArmorComparator and Velocity improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/ArmorComparator.kt
Labels: 🐛 bug

#1441 [LEGACY] Improved Velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1447 LEGACY: Fixed SuperKnockBack SprintTap mode being able to sprint back when not supposed to.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
Labels: 🐛 bug, 🌕 legacy

#1448 Improve command system (Nextgen)
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/gui/MixinChatInputSuggestor.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/builder/Parameters.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandAutoDisable.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandBind.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandBinds.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandHelp.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandHide.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandItems.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandToggle.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandXRay.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/creative/CommandItemEnchant.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleXRay.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/item/EnchantmentUtils.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1449 LEGACY: Rewrote PingSpoof module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: ⚡ bypass, 🌕 legacy

#1452 Added Modern mode to BackTrack module
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1459 [LEGACY] Minor change to Tower "Jump" mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
Labels: 🌕 legacy

#1465 LEGACY: Fixed Silent rotation movement being detected.
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#1468 LEGACY: Added clutch option to Scaffold module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#1486 [LEGACY] Added new mode in Criticals
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1488 LEGACY: Fixed Backtrack module issues.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1489 [LEGACY] GameDetector, ClickGUI, BowAimbot, PotionSpoof, ... improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/HitBox.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/PotionSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ClickGUI.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Fullbright.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlock.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockLadder.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockLiquid.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockModelRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockSoulSand.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinAbstractClientPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinPlayerControllerMP.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiNewChat.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreen.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetworkPlayerInfo.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderEntityItem.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRendererLivingEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinTileEntityChestRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinTileEntityRendererDispatcher.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinVisGraph.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/resources/MixinSkinManager.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/world/MixinChunk.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/world/MixinWorldClient.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/Panel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/EntityUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy
