Repository CCBlueX/LiquidBounce, pull requests merged in 2023-12, with the labels that each got.

#1595 [LEGACY] Fixed & Improving NewVerusLowHop Speed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/NewVerusLowHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1571 [NEXTGEN] Godbridge Scaffold
  src/main/kotlin/net/ccbluex/liquidbounce/event/Sequence.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleBadWifi.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/autododge/ModuleAutoDodge.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleAntiAFK.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/ModuleScaffold.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/features/ScaffoldAutoJumpFeature.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/features/ScaffoldGodBridgeFeature.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationsUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/targetFinding/FaceTargetPositionFactory.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/targetFinding/TargetFinding.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/client/EventScheduler.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌑 nextgen

#1622 Fixed rotations, updated commands, improved code
  build.gradle
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/AutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/EnchantCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/FriendCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/GiveCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HClipCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HelpCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HideCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HoloStandCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HurtCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalAutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PanicCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PingCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PrefixCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ReloadCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/RemoteViewCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/RenameCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SayCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ScriptManagerCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ServerInfoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ShortcutCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TacoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TargetCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TeleportCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ToggleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/UsernameCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/VClipCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatAdminCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatTokenCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/LiquidChatCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/PrivateChatCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/XrayCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlot.java
  src/main/java/net/ccbluex/liquidbounce/injection/implementations/IMixinGuiSlot.kt
  src/main/java/net/ccbluex/liquidbounce/injection/implementations/IMixinItemStack.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/ItemUtils.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1623 LEGACY: Added UseStaticRotations option to Scaffold.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1624 LEGACY: Fixed TimerRange Min/Max tick delay options producing IllegalArgument exceptions.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#1631 Fix server rotations
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
Labels: 🐛 bug, 🌕 legacy

#1647 [LEGACY] TimeRange Improvement & Update
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🔥 enhancement, 🌕 legacy

#1660 [LEGACY] Update TimerRange
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🔥 enhancement, 🌕 legacy

#1669 LEGACY: Fixed KillAura/Aimbot's speed issues, KillAura's raycast and through-wall issues.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1671 NEXTGEN: Reworked Fun modules
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/entity/MixinPlayerEntityAccessor.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/fun/ModuleDerp.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/fun/ModuleHandDerp.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/fun/ModuleSkinDerp.kt
  src/main/resources/liquidbounce.mixins.json
Labels: 🔥 enhancement, 🌑 nextgen

#1672 LEGACY: Fixed KillAura producing null exceptions when Backtrack is enabled and the legacy mode is chosen.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#1664 [LEGACY] TimerRange Small Changes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🌕 legacy

#1674 [LEGACY] AttackEffects Rework & Optimization
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/AttackEffects.kt
Labels: 🔥 enhancement, 🌕 legacy

#1688 [LEGACY] GameDetector New Option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/GameDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#1687 Fix Velocity Jump
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🌕 legacy

#1692 LEGACY: Fixed Legacy mode of Backtrack not working above limits, KillAura and Aimbot not respecting Backtrack positions.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#1693 LEGACY: Fixed attack modules not targeting non-players.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#1695 LEGACY: Added SpeedLimiter option to Scaffold, and minimized the chances that Zitter gets out of control when jumping.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMovementInputFromOptions.java
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1698 LEGACY: Fixed Scaffold's SpeedLimiter option not accounting for the Slow option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#1552 Nextgen ScriptAPI
  build.gradle
  config/detekt/baseline.xml
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandClient.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/CommandScript.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/Script.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/ScriptManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsApiProvider.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsBlockUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsInteractionUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsItemUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsMovementUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsNetworkUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsReflectionUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsRotationUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/globals/JsClient.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationsUtil.kt
  src/main/resources/assets/liquidbounce/lang/en_us.json
Labels: 🌑 nextgen, Client Base

#1704 NEXTGEN: Fixed Backtrack not imitating the game's server packet handling logic, and a few more fixes.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleBacktrack.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleSuperKnockback.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/antibot/ModuleAntiBot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/antibot/modes/CustomAntiBotMode.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/antibot/modes/HorizonAntiBotMode.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/antibot/modes/IntaveHeavyAntiBotMode.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/antibot/modes/MatrixAntiBotMode.kt
Labels: 🐛 bug, 🌑 nextgen

#1709 NEXTGEN: An alternative delay implementation for SuperKnockBack. (Like AutoAccount)
  src/main/kotlin/net/ccbluex/liquidbounce/config/ConditionalConfigurables.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/EventManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/events/ClientEvents.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleSuperKnockback.kt
Labels: 🐛 bug, 🔥 enhancement, 🌑 nextgen

#1710 LEGACY: Added KeepSprint module.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KeepSprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayer.java
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1711 LEGACY: Fixed Backtrack-compatible modules not detecting supposed target when it is standing still.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#1712 LEGACY: Added Hypixel mode to Fu:):) module
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1719 Added .stack command
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/creative/CommandItemStack.kt
  src/main/resources/assets/liquidbounce/lang/en_us.json
Labels: 🔥 enhancement, 🌑 nextgen

#1720 NEXTGEN: Fixed all attack modules except for KillAura attacking without affecting movement.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleTrigger.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleProjectilePuncher.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsInteractionUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/combat/CombatExtensions.kt
Labels: 🐛 bug, 🌑 nextgen

#1721 [NEXTGEN] Added "CameraDistance" option to CameraClip and "Snowy" option to OverrideWeather
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinWorld.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/render/MixinCamera.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/render/MixinWorldRenderer.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleCameraClip.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleOverrideWeather.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1727 [NEXTGEN] Updated hitbox rendering in debug mode
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/render/MixinEntityRenderDispatcher.java
  src/main/resources/liquidbounce.mixins.json
Labels: 🔥 enhancement, 🌑 nextgen

#1728 NEXTGEN: Fixed ChestStealer not having click delays for swaps, throws, and added a NotInContainers option to InventoryCleaner.
  src/main/kotlin/net/ccbluex/liquidbounce/event/Sequence.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoGapple.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleChestStealer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ModuleInventoryCleaner.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌑 nextgen

#1729 NEXTGEN: Made KillAura FailSwing click only when it's not looking at enemies/block.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/features/FailSwing.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1732 NEXTGEN: Expanded Scaffold's CPS max a bit more.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/ModuleScaffold.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/BlockExtensions.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌑 nextgen

#1733 NEXTGEN: ChestStealler fix
  build.gradle
  gradle.properties
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoArmor.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleFly.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleChestStealer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/invcleaner/ModuleInventoryCleaner.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1734 LEGACY: Made KillAura only attempt to swing when it's not looking at entities/blocks.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1651 Added BedProtectionESP
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedProtectionESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#1736 Improved KeyPearl module and Added Inventory HUD element.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/KeyPearl.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
Labels: 🔥 enhancement, 🌕 legacy

#1645 Improve AutoFarm
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinKeyboardInput.java
  src/main/kotlin/net/ccbluex/liquidbounce/event/EventManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/events/PlayerEvents.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/nofall/modes/MLG.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/nofall/modes/Rettungsplatform.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleAutoFarm.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleChestAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleFucker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleNuker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/AutoFarmAutoWalk.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/AutoFarmBlockHandler.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/AutoFarmVisualizer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/ModuleAutoFarm.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RaytracingExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationFinding.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/BlockExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/ChunkScanner.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/targetFinding/TargetFinding.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/entity/EntityExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/item/InventoryUtils.kt
Labels: 🔥 enhancement, 🌑 nextgen
