Repository CCBlueX/LiquidBounce, pull requests merged in 2023-09, with the labels that each got.

#1314 Telly scaffold and alternation
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/InventoryUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1311 Added Bulgarian Translations
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
Labels: 📝 documentation, 🌕 legacy

#1350 Added Russian Translation
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
Labels: 🌕 legacy

#1358 LEGACY: Added a Realistic option to Rotations module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
Labels: 🔥 enhancement, 🌕 legacy

#1370 Legit Scaffold (finished) and KillAura aiming (WIP)
  config/detekt/detekt.yml
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinMinecraftClient.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAimbot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoSoup.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/misc/ModuleDebugRecorder.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleChestStealer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleEagle.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleNoFall.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleDebug.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleStorageESP.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleAutoFarm.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleChestAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleFucker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleIgnite.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleProjectilePuncher.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleScaffold.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/crystalAura/SubmoduleCrystalDestroyer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/crystalAura/SubmoduleCrystalPlacer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/LegitAimpointTracker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/Pattern.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RaytracingExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationFinding.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationsUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/BlockExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/targetFinding/FaceTargetPositionFactory.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/targetFinding/TargetFinding.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/combat/CombatUtils.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/entity/EntityExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/math/MinecraftVectorExtensions.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/movement/MovementUtils.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1371 [LEGACY] Add Glide to the Vulcan HighJump mode
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleHighJump.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1374 LEGACY: Improved Scaffold module's block search logic, thus supporting diagonal bridging for the Telly mode and overall diagonal bridging stability increase for other modes.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy
