Repository CCBlueX/LiquidBounce, pull requests merged in 2024-06, with the labels that each got.

#3178 feat(legacy): Improved RoundedRect & GradientShader FPS Peformance
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinFontRenderer.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3184 feat(legacy): Simple BedDefender
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#3186 refactor(legacy): Removed Bloat/Old Bypasses
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC1910.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC305.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC316.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3312.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3312Glide.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/CubeCraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Mineplex.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Minesucht.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/NeruxVace.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Redesky.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/rewinside/Rewinside.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/rewinside/TeleportRewinside.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanOld.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv1.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/mineplex/Mineplex.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/mineplex/Mineplex2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/mineplex/Mineplex3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Hycraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Redesky.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop350.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop4.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/Boost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/Frame.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPFHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPYPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/OnGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/SNCPBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/HiveHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/Mineplex.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineplexGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/TeleportCubeCraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreOnGround.kt
Labels: 🔥 enhancement, 🌕 legacy

#3188 fix(legacy): Better Fix For NoSlotSet Desync
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3192 feat(legacy): Improved StartFirstRotationSlow Logic
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3193 legacy(feat): Support Other Entities Projectiles
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🔥 enhancement, 🌕 legacy

#3194 refactor(legacy): Merged Trigger to AutoClicker (RequiresNoInput) & AutoBlock Delay
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Trigger.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#3195 fix(legacy): Fixed TargetHUD Blending
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#3196 feat(legacy): Added PacketDebugger
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PacketDebuggerCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/PacketDebugger.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#3198 chore: updated simplified chinese translation
  src/main/resources/assets/liquidbounce/lang/zh_cn.json
Labels: 🌑 nextgen, 🏳 i18n

#3199 refactor(legacy): revert sprint fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
Labels: 🐛 bug, 🌕 legacy

#3202 fix(legacy): fixed black hotbar offset
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
Labels: 🐛 bug, 🌕 legacy

#3214 refactor(legacy): Removed/Revert Deleted Old Bypass
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC1910.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC305.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC316.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3312.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3312Glide.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/aac/AAC3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/CubeCraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Minesucht.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/NeruxVace.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanOld.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv1.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Hycraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Redesky.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop350.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop4.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/Boost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/Frame.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPFHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPYPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/OnGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/SNCPBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/TeleportCubeCraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spectre/SpectreOnGround.kt
Labels: ⚡ bypass, 🌕 legacy

#3216 feat(legacy): ported nextgen vulcan 2.8.6 speed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/SpeedMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanGround288.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3217 feat(legacy): Added VerusDamage LongJump & Verus Damage modes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Damage.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/LongJumpMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/VerusDamage.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3218 feat(legacy): added f*cker ignoreOwnBed option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
Labels: 🔥 enhancement, 🌕 legacy

#3219 refactor(legacy): revert rounded black hotbar
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
Labels: 🐛 bug, 🌕 legacy

#3221 feat(legacy): Vulcan Scaffold Disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/DisablerMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/vulcan/VulcanScaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3223 refactor(legacy): CapeAPI & CapeService Cleanup
  src/main/java/net/ccbluex/liquidbounce/cape/CapeAPI.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
Labels: 🔥 enhancement, 🌕 legacy

#3224 feat(legacy): ported nextgen tower pulldown mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3225 feat(legacy): cheststealer silent gui
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiContainer.java
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#3227 feat(legacy): Added VerusFlyDisabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3233 fix(legacy): fixed right & right jitter autoclicker
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
Labels: 🐛 bug, 🌕 legacy

#3235 feat(legacy): ported nextgen vulcantp nofall
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/VulcanFast288.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3236 refactor(legacy): verusfly small cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
Labels: 🌕 legacy

#3238 feat(legacy): Verus Fly disabler update
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/DisablerMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3241 feat(legacy): Kick Module IllegalHeldItem
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Kick.kt
Labels: 🔥 enhancement, 🌕 legacy

#3246 fix(legacy): more accurate ghostblock flagcheck
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3259 chore(legacy): update zh_cn and zh_tw
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🏳 i18n, 🌕 legacy

#3260 feat(legacy): disabler multi list setting
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#3242 fix(legacy): InventoryManager Memory Leak
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
Labels: 🐛 bug, 🌕 legacy

#3261 refactor(legacy): revert "InventoryManager Memory Leak"
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
Labels: 🐛 bug, 🌕 legacy

#3262 fix(legacy): fully fixed inventorymanager memory leak
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3263 chore(legacy): update script docs link
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiScripts.kt
Labels: 🌕 legacy

#3270 feat(legacy): inventory slot highlight & cheststealer simulateshortstop
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiContainer.java
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3283 feat(legacy): added antibounce
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiBounce.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockSlime.java
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#3293 fix(legacy): fixed staffdetector concurrent error
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3300 fix(legacy): invalidc08 noslow
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#3284 feat(legacy): Make Verus Fly Disabler also work on NCP
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3301 feat(legacy): added veruscombat disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/DisablerMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusCombat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3304 refactor(legacy): use triggerevent for veruscombat
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusCombat.kt
Labels: 🌕 legacy

#3305 refactor(legacy): allow food only for consume invalidc08
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🌕 legacy

#3318 fix(legacy): scaffold earlyswitch
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3322 fix(legacy): scaffold possibly breaking due to earlyswitch option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3329 feat(legacy): killaura blink autoblock
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3347 feat(legacy): custom animation position
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Animations.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🔥 enhancement, 🌕 legacy

#3349 fix(legacy): blink autoblock now should work
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3353 feat(legacy): improved blink autoblock
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy
