Repository CCBlueX/LiquidBounce, pull requests merged in 2024-04, with the labels that each got.

#2742 LEGACY: Added InvalidUUID AntiBot
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
Labels: 🔥 enhancement, 🌕 legacy

#2748 LEGACY: KillAura Small Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2749 LEGACY: Added TNTTimer
  .idea/kotlinc.xml
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#2750 LEGACY: Fixed KillAura AutoBlock
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#2762 LEGACY: Added NoAchievement Module & Small Tweaks
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NoAchievement.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiAchievement.java
  src/main/java/net/ccbluex/liquidbounce/utils/ClientUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2763 LEGACY: Converted Ignite & TeleportHit Modules to Kotlin
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.java
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TeleportHit.java
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TeleportHit.kt
Labels: 🔥 enhancement, 🌕 legacy

#2773 LEGACY: Added VulcanLowHop & ItemPhysics Tweak
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderEntityItem.java
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2781 LEGACY: Fixed UI & Added Custom Scoreboard Server IP
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2786 LEGACY: Forge Mixin Improvement
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/tweaks/MixinEntityFX.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/tweaks/MixinMinecraftServer.java
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#2791 LEGACY: Optimize ClientAPI Code & Etc
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientApi.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientSettings.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientUpdate.kt
  src/main/java/net/ccbluex/liquidbounce/api/MessageOfTheDay.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/Command.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/AutoDisableCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/AutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/EnchantCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/FriendCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/GiveCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HClipCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HelpCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HideCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HoloStandCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HurtCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalAutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PanicCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PingCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PrefixCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ReloadCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/RemoteViewCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/RenameCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SayCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ScriptManagerCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ServerInfoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ShortcutCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TacoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TargetCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TeleportCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ToggleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/UsernameCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/VClipCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/shortcuts/Shortcut.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatAdminCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatTokenCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/LiquidChatCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/PrivateChatCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/XrayCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/script/api/ScriptCommand.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SettingsUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#2794 LEGACY: Fixed KillAura AutoBlock Again..
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#2796 LEGACY: Added More Condition to Text Elements
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🔥 enhancement, 🌕 legacy

#2805 LEGACY: Updated BlockMC2 Criticals
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
Labels: ⚡ bypass, 🌕 legacy

#2813 LEGACY: Added HypixelBlink NoFall & Added BlinkUtils
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/HypixelBlink.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2814 LEGACY: Fixed NoSlotSet Desync
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🐛 bug, 🌕 legacy

#2816 LEGACY: Fixed Tower Rotation
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2836 LEGACY: HypixelBlink NoFall Small Tweaks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/HypixelBlink.kt
Labels: ⚡ bypass, 🌕 legacy

#2846 LEGACY: Fixed Scaffold AutoF5 & Blink Nofall
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2848 Legacy Update Simplified & Traditional Chinese
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🏳 i18n, 🌕 legacy

#2862 LEGACY: Fixed NoSlotSet Desync
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2869 LEGACY: Small Client Improvement
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/HeadsTab.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BPSUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/Background.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2879 LEGACY: HUD Improvement
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2892 LEGACY: Added BlockCounter Element
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🔥 enhancement, 🌕 legacy

#2902 LEGACY: Improved TargetHUD & Fixed RenderUtils
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2906 LEGACY: Added Taco HUD & Fixed Chat prefix
  src/main/java/net/ccbluex/liquidbounce/features/command/Command.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TacoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClientUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2914 LEGACY: Fix for #2908
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#2918 LEGACY: Fixed & Improved Build #2914
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#2929 LEGACY: Added GradientShader & GradientFontShader
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinFontRenderer.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🔥 enhancement, 🌕 legacy

#2933 [LEGACY] Maybe a proper port for ItemTeleport
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/ItemTeleport.java
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/ItemTeleport.kt
Labels: 🌕 legacy

#2935 LEGACY: Fixed & Improved Gradient
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinFontRenderer.java
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2936 LEGACY: Fixed Gradient Shadow
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinFontRenderer.java
Labels: 🐛 bug, 🌕 legacy

#2939 LEGACY: Released b91
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
Labels: 🌕 legacy

#2940 LEGACY: upped version number and changed back into development mode
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
Labels: 🌕 legacy

#2942 upped version number and changed back into development mode
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
Labels: 🌕 legacy

#2943 LEGACY: More Kotlinizing
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Phase.java
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Phase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Teleport.java
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Teleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy
