Repository CCBlueX/LiquidBounce, pull requests merged in 2024-05, with the labels that each got.

#2953 LEGACY: Fixed Tower Rotation
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2957 LEGACY: Improved TimerRange Logic
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2958 LEGACY: Fixed FakeLag Damage Check
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
Labels: 🐛 bug, 🌕 legacy

#2966 LEGACY: Backtrack Minor Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#2967 LEGACY: Added TextShadow to BlockCounter
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
Labels: 🔥 enhancement, 🌕 legacy

#2968 LEGACY: Fixed TimerRange Reset
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#2969 LEGACY: Fixed TimerRange pt.2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#2959 LEGACY: Create Local Themes & Cleanup
  src/main/java/net/ccbluex/liquidbounce/api/ClientApi.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/AutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/FriendCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/GiveCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HideCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalThemesCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ScriptManagerCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TargetCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TeleportCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ToggleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatAdminCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatTokenCommand.kt
  src/main/java/net/ccbluex/liquidbounce/file/FileManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
Labels: 🔥 enhancement, 🌕 legacy

#2954 LEGACY: Added FakeItem RenderUtils
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoTool.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/render/FakeItemRender.kt
Labels: 🔥 enhancement, 🌕 legacy

#2991 LEGACY: Fixed AutoSoup AutoClose
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
Labels: 🐛 bug, 🌕 legacy

#3021 feat(legacy): RespectMissCooldown option to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#3029 LEGACY: KillAura, Auto/LocalSettings, StaffDetector, Velocity Updates
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/AutoSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3031 feat(legacy): Reworked RotationUtils.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3034 fix(legacy): Rotations screwing up on Scaffold and on SilentRotation option toggle.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3036 feat(legacy): Made NoRotateSet rotate also for the player rotation.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3026 refactor(legacy): cleaned up code
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/Category.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoTool.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🔥 enhancement, 🌕 legacy

#3046 feat(legacy): SimulateShortStop option for all modules that utilize rotations.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3048 refactor(legacy): more cleaning up
  src/main/java/co/uk/hexeption/utils/OutlineUtils.java
  src/main/java/net/ccbluex/liquidbounce/api/ClientUpdate.kt
  src/main/java/net/ccbluex/liquidbounce/chat/Client.kt
  src/main/java/net/ccbluex/liquidbounce/chat/ClientHandler.kt
  src/main/java/net/ccbluex/liquidbounce/chat/packet/PacketSerializer.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ReloadCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/VClipCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/KeepContainer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Plugins.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/aac/AACv3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/ncp/NCP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/Hycraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineBlazeHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/Mineplex.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockLadder.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinResourcePackRepository.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinAbstractClientPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiConnecting.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiEditSign.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiIngameMenu.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiNewChat.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreen.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlot.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEffectRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinTileEntityItemStackRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/transformers/ForgeNetworkTransformer.java
  src/main/java/net/ccbluex/liquidbounce/script/remapper/injection/transformers/AbstractJavaLinkerTransformer.java
  src/main/java/net/ccbluex/liquidbounce/script/remapper/injection/transformers/handlers/AbstractJavaLinkerHandler.kt
  src/main/java/net/ccbluex/liquidbounce/script/remapper/injection/utils/NodeUtils.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/LoginUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
  src/main/java/net/vitox/Particle.java
  src/main/java/net/vitox/ParticleGenerator.java
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/glow.frag
Labels: 🔥 enhancement, 🌕 legacy

#3050 feat(legacy): StartFirstRotationSlow rotation option to modules that utilize rotations.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3052 fix(legacy): AutoSoup autoclose should now properly reset.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
Labels: 🐛 bug, 🌕 legacy

#3056 fix(legacy): Revert resetting the place rotation information post placement.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3057 feat(legacy): StartFirstRotationSlow option to Aimbot.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3058 chore(nextgen): updated chinese translations
  src/main/resources/assets/liquidbounce/lang/zh_cn.json
Labels: 🌑 nextgen, 🏳 i18n

#3060 feat(legacy): Made the relative rotation mode rotate slower when on high rotation differences.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3062 feat(legacy): Added AntiVanish Module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiVanish.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#3065 feat(legacy): Improved FlagCheck GhostBlock Checks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3067 fix(legacy): StartFirstRotationSlow not slowing down the original speed when ticks since no rotation is 0.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3069 feat(legacy): OverrideRaycast module.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/OverrideRaycast.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3059 chore(nextgen): improved chinese translations
  src/main/resources/assets/liquidbounce/lang/zh_cn.json
Labels: 🌑 nextgen, 🏳 i18n

#3071 feat(legacy): Add missing Chinese translation
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🏳 i18n, 🌕 legacy

#3072 fix(legacy): AutoSoup violating vanilla logic.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3076 feat(legacy): Added Invalid Health/Hunger FlagCheck
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🔥 enhancement, 🌕 legacy

#3077 feat(legacy): Added Backtrack Player Render
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/EntityUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3080 feat(legacy) Added Backtrack Player Render
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
Labels: 🔥 enhancement, 🌕 legacy

#3081 feat(legacy): Added InvalidC08 NoSlow
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3084 feat(legacy): Added Blink NoSlow & Added Velocity IgnoreExplosion option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3085 feat(legacy): Scoreboard ServerIP Domain Check
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
Labels: 🐛 bug, 🌕 legacy

#3086 feat(legacy): Added NoSlow ReblinkTicks Option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3090 refactor(legacy): Removed UseStaticRotation option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🌕 legacy

#3095 feat(legacy): Added Gradient Speed & Taco HUD Improvement
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🔥 enhancement, 🌕 legacy

#3096 refactor(legacy): Removed POST from NoSlow
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🔥 enhancement

#3106 fix(legacy): ScriptManager Command Crashing
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ScriptManagerCommand.kt
Labels: 🐛 bug, 🌕 legacy

#3126 fix: lag spike on chunk update
  src/main/java/net/ccbluex/liquidbounce/common/ChunkUpdateFlag.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinWorld.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/network/MixinClientPlayNetworkHandler.java
  src/main/kotlin/net/ccbluex/liquidbounce/event/EventManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/events/WorldEvents.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/ChunkScanner.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/block/WorldChangeNotifier.kt
  src/main/resources/liquidbounce.accesswidener
Labels: 🐛 bug

#3133 feat(legacy): Improved isLookingOnEntities, Optimized Rendering & Added ThruBlocks Option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/utils/EntityUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3134 fix(legacy): Fixed ServerInfo Command
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ServerInfoCommand.kt
Labels: 🐛 bug, 🌕 legacy

#3145 fix(legacy): Backtrack should now flush properly when not needed & Fakelag now properly work with Scaffold
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3147 feat(legacy): Projectiles Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3148 refactor(legacy): Moved FakeLag file to Combat Category
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: 🌕 legacy

#3151 chore(legacy): Complete traditional Chinese translation
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🏳 i18n, 🌕 legacy

#3152 feat(legacy): Projectiles Trails Fade Effect
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3154 refactor(legacy): Simplified & Optimized RoundedRect
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3094 feat(legacy): Customizable Godbridging rotations.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3153 feat(legacy): Added Smart delay for ChestStealer
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3155 feat(legacy): Added Fireball to Projectiles
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🔥 enhancement, 🌕 legacy

#3158 fix(legacy): Fixed Nametags not getting health from scoreboard.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
Labels: 🐛 bug, 🌕 legacy

#3163 fix(legacy): Fixed ItemESP Rendering ESP Twice
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
Labels: 🐛 bug, 🌕 legacy

#3164 feat(legacy): Added F*cker BlockProgress Render
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Radar.kt
Labels: 🔥 enhancement, 🌕 legacy

#3166 refactor(legacy): Target HUD now shown when ChatGUI is opened
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🔥 enhancement, 🌕 legacy

#3167 fix(legacy): TargetHUD Showing when Killaura target null
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#3169 fix(legacy): InvalidC08 NoSlow Tweaks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3170 fix(legacy): Fixed TargetHUD Absorption Health
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#3165 feat(legacy): Added a smartorder option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3168 feat(legacy): Added Early Switch option in scaffold.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3172 feat(legacy): Added TargetHUD Animation
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/animation/AnimationUtil.kt
Labels: 🔥 enhancement, 🌕 legacy

#3174 fix(legacy): Fixed FPS Issues with RectNew
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiDonatorCape.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Cooldown.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Notifications.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Radar.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy
