Repository CCBlueX/LiquidBounce, pull requests merged in 2024-10, with the labels that each got.

#4025 feat(legacy): Pre-rotate functionality for Scaffold GodBridge. (from Nextgen)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMovementInputFromOptions.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#4031 remove(legacy): AutoJump option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🌕 legacy

#4037 fix(legacy): TickBase being movement-detected by anti-cheats.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4039 feat(legacy): Proper lists to save information for AntiBot.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
Labels: 🔥 enhancement, 🌕 legacy

#4041 feat(legacy): Re-added UseStaticRotation, renamed it to UseOptimizedPitch.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#4043 feat(legacy): ForwardTrack module.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🍿 YAGNI, 🌕 legacy

#4044 fix(legacy): SimulatedPlayer not detecting ledge.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Parkour.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/SimulatedPlayerJavaExtensions.java
Labels: 🐛 bug, 🌕 legacy

#4050 fix(legacy): ForwardTrack not displaying positions correctly in Singleplayer.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🌕 legacy

#4056 feats(legacy): Improved SimulateShortStop option, fixed inventory-based modules breaking rotations, recoded RotationRecorder.
  build.gradle
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/RotationRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4059 fix(legacy): Library used for RotationRecorder not being found on production environment.
  build.gradle
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4062 feats(legacy): FreeLook module, fixed rotation pitch not being smooth and added FreezeYCamera option to Scaffold.
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/fun/Derp.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeCam.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeLook.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRendererLivingEntity.java
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4065 feat(legacy): Cleaned up Tower module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiVoid.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🔥 enhancement, 🌕 legacy

#4067 feat(legacy): added arraylist outline rect & some fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiScripts.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/animation/AnimationUtil.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4068 feat(legacy): added rounded-rect to blackhotbar
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#4069 refactor(legacy): renamed BowAimbot -> ProjectileAimbot
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoBow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🏳 i18n, 🌕 legacy

#4071 fix(legacy): wrong arraylist roundedrect condition
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
Labels: 🐛 bug, 🌕 legacy

#4082 feat(legacy): HUD Elements Update (Text, Arraylist)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4084 fix(legacy): bedbreaker ignoreOwnBed slight optimized
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4093 feat(legacy): added autoclicker onlyblock option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
Labels: 🔥 enhancement, 🌕 legacy

#4091 chore(legacy): Simplified the way of making rotation options for modules.
  .idea/runConfigurations/Start_client.xml
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/script/api/ScriptModule.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#4109 feat(legacy): ColorSettings option.
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalThemesCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/Element.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClassUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🔥 enhancement, 🌕 legacy

#4132 chore(legacy): added freelook translation
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🏳 i18n, 🌕 legacy

#4151 feat(legacy): ported hypixel bypasses & fixed vulcan velocity
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/hypixel/HypixelLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/timing/TickedActions.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4155 feat(legacy): intavereduce velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4156 fix(legacy): ConcurrentModificationException Crash
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/Element.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClassUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4160 feat(legacy): BlockSafe Scaffold option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4172 feat(legacy): projectileaimbot (gravitytype & otheritems)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoPlay.kt
Labels: 🔥 enhancement, 🌕 legacy

#4173 feat(legacy): added fakelag min/max distance
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
Labels: 🔥 enhancement, 🌕 legacy

#4189 fix(legacy): tower not on move option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4191 feat(legacy): added staffdetector velocity autoleave
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#4194 feat(legacy): custom hotbar
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/RainbowFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/RainbowShader.kt
Labels: 🔥 enhancement, 🌕 legacy

#4197 fix(legacy): block resoucepack exploit
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
Labels: 🐛 bug, 🌕 legacy

#4199 fix(legacy) Playsound ConcurrentModificationException
  src/main/java/net/ccbluex/liquidbounce/features/command/Command.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
Labels: 🐛 bug, 🌕 legacy

#4253 chore(legacy): Replaced "on/off" rotation modes with a boolean "Rotations" option (just like before).
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClassUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientFontShader.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/GradientShader.kt
Labels: 🔥 enhancement, 🌕 legacy

#4265 fix(legacy): All gradient colors being shown.
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
Labels: 🐛 bug, 🌕 legacy

#4267 fix(legacy): Scaffold GodBridge mode causing client-side rotations to spin/not rotating when KeepRotation is disabled.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/InputExtensions.kt
Labels: 🐛 bug, 🌕 legacy

#4274 feat(legacy): added simple flagcheck last server pos
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4275 feat(legacy) added separate highlight & background border
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
Labels: 🔥 enhancement, 🌕 legacy

#4283 fix(legacy) min/max godbridge not working
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderPlayer.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/TimerBalanceUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4284 feat(legacy): SilentHotbar module.
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/event/Listenable.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/ServerInfoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TacoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoProjectile.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoRod.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoWeapon.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/GameDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiVoid.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoPlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoTool.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Refill.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/HypixelTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/SilentHotbarModule.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/BungeeCordSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientFixes.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinInventoryPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinPlayerControllerMP.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinLayerHeldItem.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BPSUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SilentHotbar.kt
  src/main/java/net/ccbluex/liquidbounce/utils/TimerBalanceUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/ItemUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/FakeItemRender.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/MiniMapRegister.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/TickedActions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#4286 fix(legacy): scaffold blocksafe, image color & text background scale
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/animation/AnimationUtil.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4287 fix(legacy): proper hud elements gl reset
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Armor.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Notifications.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4288 feat(legacy): added alwaysbehind & duplicateprofile antibot & improved alwaysradius
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4289 chore(legacy): added silenthotbar en_us translation
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🏳 i18n

#4292 fix(legacy): SilentHotbar also overriding other players' slot.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinInventoryPlayer.java
Labels: 🐛 bug, 🌕 legacy

#4300 fix(legacy): client not loading in IDE using "runClient" gradle command.
  .github/workflows/build.yml
  build.gradle
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sneak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/hypixel/BoostHypixel.kt
Labels: 🐛 bug, 🌕 legacy, Client Base

#4303 fix(legacy): incorrect translation for silenthotbar
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🏳 i18n, 🌕 legacy

#4307 feat(legacy): new background shader + new button rendering method
  .github/workflows/build.yml
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButton.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButtonExt.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiOptionSlider.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreen.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreenOptionsSoundsButton.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientConfiguration.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/BackgroundShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/background.frag
  src/main/resources/liquidbounce.forge.mixins.json
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy, Theme
