Repository CCBlueX/LiquidBounce, pull requests merged in 2024-02, with the labels that each got.

#1967 LEGACY: New Speed Mode & Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/Matrix.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/Matrix2.kt
Labels: ⚡ bypass, 🌕 legacy

#1968 LEGACY: Speed Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/Matrix2.kt
Labels: 🐛 bug, 🌕 legacy

#1973 LEGACY: StaffDetector
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#1985 LEGACY: StaffDetector Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/staffdetector/blocksmc-staff.txt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1987 LEGACY: Added VulcanHop Speed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1995 LEGACY: StaffDetector Small Fixes & Update
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/staffdetector/blocksmc-staff.txt
Labels: 🐛 bug, 🌕 legacy

#2011 LEGACY: StaffDetector Improvement & Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2025 LEGACY: StaffDetector Small Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/staffdetector/blocksmc-staff.txt
Labels: 🐛 bug, 🌕 legacy

#2032 LEGACY: Added Intave Velocity & Minor Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/GameDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: ⚡ bypass, 🌕 legacy

#2044 LEGACY: Improved Vulcan Speed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/hypixel/HypixelHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2045 LEGACY: Fixed ESP Glow Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
Labels: 🐛 bug, 🌕 legacy

#2064 LEGACY: StaffDetector Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/resources/staffdetector/blocksmc-staff.txt
Labels: 🔥 enhancement, 🌕 legacy

#2067 LEGACY: Added toggles for vertical and horizontal aim
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
Labels: 🔥 enhancement, 🌕 legacy

#2075 LEGACY: ItemPhysics Small Update & Small Mixin Tweaks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemPhysics.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderEntityItem.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/tweaks/MixinAnvilChunkLoader.java
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#2095 NEXTGEN: Added OnClick option (with DelayUntilStop suboption) to Aimbot and KillAura.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAimbot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/ModuleKillAura.kt
Labels: 🔥 enhancement, 🌑 nextgen

#2096 LEGACY: Added SimulateDoubleClicking option to Scaffold and renamed KillAura's SimulateButterflyClicking option to SimulateDoubleClicking.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2102 LEGACY: TimerRange & KillAura Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🔥 enhancement, 🌕 legacy

#2104 LEGACY: TimerRange Improvement & Optimization
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2127 LEGACY: Small Rendering Optimization
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Notifications.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Radar.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🌕 legacy

#2129 LEGACY: Rendering Optimization pt.2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🌕 legacy

#2137 LEGACY: Added JumpPacket option to ConstantMotion Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
Labels: 🔥 enhancement, 🌕 legacy

#2144 LEGACY: Added Rounded Rectangle
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🌕 legacy

#2149 feat: Component System
  config/detekt/baseline.xml
  src-theme/public/metadata.json
  src-theme/src/client/api.svelte
  src-theme/src/routes/hud/Hud.svelte
  src-theme/src/routes/hud/arraylist/ArrayList.svelte
  src-theme/src/routes/hud/notification/Notifications.svelte
  src-theme/src/routes/hud/tabgui/TabGui.svelte
  src-theme/src/routes/hud/watermark/Watermark.svelte
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/gui/MixinInGameHud.java
  src/main/kotlin/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/ConfigSystem.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/Configurable.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/Value.kt
  src/main/kotlin/net/ccbluex/liquidbounce/config/adapter/ConfigurableSerializer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/EventManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/event/events/ClientEvents.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/command/commands/client/CommandClient.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleSuperKnockback.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleBlockESP.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleHud.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/minimap/ModuleMinimap.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleChestAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleFucker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleNuker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/AutoFarmVisualizer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/ModuleAutoFarm.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/PointTracker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/render/Alignment.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/render/TargetRenderer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/socket/ClientSocket.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/socket/protocol/ProtocolGson.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/socket/protocol/rest/RestApi.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/socket/protocol/rest/client/ComponentRest.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/socket/protocol/rest/client/ModuleRest.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/ComponentGson.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/ThemeManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/Component.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/ComponentOverlay.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/ComponentType.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/FeatureTweak.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/FrameComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/HtmlComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/ImageComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/IntegratedComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/TextComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/minimap/ChunkRenderer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/minimap/MinimapComponent.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/minimap/MinimapHeightmapManager.kt
  src/main/kotlin/net/ccbluex/liquidbounce/web/theme/component/types/minimap/MinimapTextureAtlasManager.kt
Labels: 🔥 enhancement, 🌑 nextgen

#2162 LEGACY: Small Render Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2163 LEGACY: Nametags & TargetHUD fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#2164 LEGACY: Velocity Fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🐛 bug, 🌕 legacy

#2165 LEGACY: Added AutoJump to Scaffold
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🌕 legacy

#2185 LEGACY: TimerRange Fixes & minor changes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoDisable.kt
Labels: 🐛 bug, 🌕 legacy
