Repository CCBlueX/LiquidBounce, pull requests merged in 2024-12, with the labels that each got.

#4770 refactor(legacy): increased antiexploit max item/arrows spawn
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/AntiExploit.kt
Labels: 🌕 legacy

#4772 fix(legacy): fakelag/backtrack crashing on singleplayer & autopot/autoweapon not working correctly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoWeapon.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
Labels: 🐛 bug, 🌕 legacy

#4773 feat(legacy): added hurttime to autoclicker
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
Labels: 🔥 enhancement, 🌕 legacy

#4775 refactor: EventManager improvement
  src/main/java/net/ccbluex/liquidbounce/event/EventManager.kt
Labels: 🔥 enhancement, 🌕 legacy

#4774 refactor(legacy): threading improvements
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/HeadsTab.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ServerUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/misc/HttpUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4776 feat(legacy): Improved rotation speed curve + made RandomizeRotations option perform the zigzag pattern slightly more realistic.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4777 fix(legacy): Yaw/Pitch randomization range options not disappearing when their float parent option value is set to max.
  src/main/java/net/ccbluex/liquidbounce/utils/RandomizationSettings.kt
Labels: 🐛 bug, 🌕 legacy

#4781 refactor(legacy): removed duplicated modules & merged antivanish -> staffdetector
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiVanish.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AirJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AirLadder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LadderJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/WaterSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#4786 fix(legacy): clickgui cloud configs not working
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
Labels: 🐛 bug, 🌕 legacy

#4791 feat(legacy): scaffold eagle onlyonground
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#4792 fix(legacy): teams armor check causing classcastexception
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/Teams.kt
Labels: 🐛 bug, 🌕 legacy

#4797 fix(legacy): Integer and Float ranged values not loading from config.
  src/main/java/net/ccbluex/liquidbounce/utils/SettingsUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4803 fix(legacy): Designer screen using the game's original font (Minecraft) height instead of selected font height.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🐛 bug, 🌕 legacy

#4809 fix(legacy): AutoTool not allowing the user to change slots manually when other SilentHotbar-utilizing modules are enabled.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinInventoryPlayer.java
  src/main/java/net/ccbluex/liquidbounce/utils/SilentHotbar.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4808 refactor(legacy): code improvements
  src/main/java/net/ccbluex/liquidbounce/chat/Client.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HoloStandCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Ignite.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/ItemTeleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Phase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/ServerCrasher.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Teleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiVoid.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/BufferSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/FastClimb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/FastStairs.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/HighJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/IceSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LiquidWalk.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/SafeWalk.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/SlimeJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Eagle.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedProtectionESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/AutoBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/ExploitsTab.kt
  src/main/java/net/ccbluex/liquidbounce/utils/NBTExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/PlaceInfo.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/BlockExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/ArmorComparator.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4813 feat(legacy): Breadcrumbs with line height support.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Breadcrumbs.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/ColorExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#4816 feat(legacy): Reset option to every module.
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Breadcrumbs.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#4818 fix(legacy): Breadcrumbs rendering player's hand as black or extending the enchanted effect from item to a cubed-shape in first-person.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Breadcrumbs.kt
Labels: 🐛 bug, 🌕 legacy

#4821 fix(legacy): SilentHotbar not detecting scroll-switched slot (wrong injection point)
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/utils/SilentHotbar.kt
Labels: 🐛 bug, 🌕 legacy

#4823 fix(legacy): veruscombat disabler not resetting correctly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🐛 bug, 🌕 legacy

#4825 fix(legacy): blockoverlay not rendering some blocks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/BlockExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4828 refactor(legacy): blinkutils small cleaning
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4835 fix(legacy): make blinkutils into listenable
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4842 feats(legacy): Circle rendering target (Mark) + Option suffix support.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiTextField.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/animation/AnimationUtil.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy

#4844 feat/fix(legacy): Dome visuals for TNTESP module + fixed custom hotbar making global line rendering calls abnormally thick.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4849 refactor(legacy): remove duplicated coroutine scopes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/HeadsTab.kt
  src/main/java/net/ccbluex/liquidbounce/utils/Background.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/CoroutineExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
Labels: 🔥 enhancement, 🌕 legacy

#4847 fix(legacy): NPE from PacketUtils.onPacket
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/collections/CollectionExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4848 refactor(legacy): method Minecraft.playSound for sound effects
  src/main/java/net/ccbluex/liquidbounce/features/command/Command.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/utils/MinecraftInstance.kt
Labels: 🔥 enhancement, 🌕 legacy

#4851 refactor(legacy/ChestStealer): code improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
Labels: 🔥 enhancement, 🌕 legacy

#4853 fixes(legacy): Inaccurate height/width padding of Text/Effects elements + fixed rainbow color in Text element not working well.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Effects.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🐛 bug, 🌕 legacy

#4858 fixes(legacy): KillAura not swinging when any client gui is active, Smooth-Hotbar using wrong function to calculate speed on high FPS, Nextgen message rectangle height on main-menu being messed up.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🌕 legacy

#4861 feat(legacy): OnlyWhenEnemyGoesBack option to SuperKnockback.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Teleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Collide.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanGhost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Breadcrumbs.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/movement/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4864 fixes(legacy): FakeLag sometimes messing up general packet order when receiving knock-back / Blocks being barely visible in NameTags.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4869 fix(legacy): Nuker not working.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4870 feat(legacy): Keystrokes HUD element.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Keystrokes.kt
Labels: 🔥 enhancement, 🌕 legacy

#4874 feat(legacy): updated lunar client version & added geyser client brand
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientFixes.kt
Labels: 🔥 enhancement, 🌕 legacy

#4889 refactor(legacy): Recoded NoFall MLG.
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/NoFallMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItem.java
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4910 fixes(legacy): TickBase permanently delaying server-packets when manipulating tick / NoFall MLG not resetting slot when rotations fail to reach spot in time.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/SilentHotbar.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4914 feat/refactor(legacy): timerrange cleanup, onforwardonly option & added isinliquid extension
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Strafe.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/WallClimb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/verus/VerusGlide.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/VerusDamage.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop350.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop4.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop5.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/hypixel/HypixelHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/intave/IntaveHop14.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/intave/IntaveTimer14.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixSlowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/OldMatrixHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPYPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/BlocksMCHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/SlowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanGround288.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🔥 enhancement, 🌕 legacy

#4906 refactor(legacy): slightly cleanup TimerRange
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🔥 enhancement, 🌕 legacy

#4915 fix(legacy): NoFall MLG rotations not synchronizing on some users' clients.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItem.java
Labels: 🐛 bug, 🌕 legacy

#4916 refactor(legacy): script module event handler optimization
  src/main/java/net/ccbluex/liquidbounce/script/api/ScriptModule.kt
Labels: 🔥 enhancement, 🌕 legacy

#4951 fixes(legacy): TickBase not behaving well with packet order when Backtrack is enabled / Scaffold WaitForRotations not un-sneaking on different mouse sensitivity values.
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/client/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitMsUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4953 fix(legacy): game freezes at first joining with AutoArmor enabled
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/ArmorComparator.kt
Labels: 🐛 bug, 🌕 legacy

#4965 fix(legacy): Scaffold raycast logic flaw.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#4971 fix(legacy): FreeLook being incompatible with Tracers.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeLook.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
Labels: 🐛 bug, 🌕 legacy

#4973 fix(legacy): KillAura AutoBlock "ForceBlockWhenStill" not blocking when disabled.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#4977 fix(legacy): noslow consume & sprint working incorrectly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
Labels: 🐛 bug, 🌕 legacy

#4978 feat/fix(legacy): add assumeNonVolatile to scoreboard & fix image causing 1281 gl error
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Armor.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4984 refactor/fix(legacy): XRay Config and Gson APIs
  src/main/java/net/ccbluex/liquidbounce/file/configs/FriendsConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/XRayConfig.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/Fonts.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/GsonExtensions.kt
Labels: 🐛 bug, 🌕 legacy

#4991 fix(legacy): Model element rendering the player "spaghettified" when TargetHUD is also rendering.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#4992 feat/fix(legacy): optimized entity searching & fixed forwardtrack rendering
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5001 fix(legacy): macOS glsl shader not supported
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/rainbow_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/rainbow_shader.frag
Labels: 🐛 bug, 🌕 legacy

#5003 fix(legacy): Fonts not downloading on older versions of Java.
  src/main/java/net/ccbluex/liquidbounce/utils/io/HttpUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5004 fix(legacy): Teams ArmorColor option not detecting possible-teammates.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/Teams.kt
Labels: 🐛 bug, 🌕 legacy

#5006 refactor(legacy): ModuleManager.get returns nullable module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
Labels: 🐛 bug, 🌕 legacy

#5007 refactor/fix(legacy): HUD config & memory leak in writeJson/readJson
  src/main/java/net/ccbluex/liquidbounce/file/configs/HudConfig.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/FileExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/GsonExtensions.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5005 refactor(legacy): ClientApi cleanup and async client loading
  build.gradle
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientApi.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientSettings.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientUpdate.kt
  src/main/java/net/ccbluex/liquidbounce/api/MessageOfTheDay.kt
  src/main/java/net/ccbluex/liquidbounce/api/ResponseTypes.kt
  src/main/java/net/ccbluex/liquidbounce/config/SettingsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/Fonts.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/GsonExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/HttpUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5009 refactor(legacy): small height adjustment to scoreboard element
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TNTBlock.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
Labels: 🔥 enhancement, 🌕 legacy

#5010 refactor(legacy): usage of ChatComponentText and DecimalFormat
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiDisconnected.java
  src/main/java/net/ccbluex/liquidbounce/utils/client/ClientUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5011 feat(legacy): scaffold eagle mode (onground, onair, both)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#5013 chore(legacy): added staffdetector originera mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#5015 refactor(legacy): render and other code cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoRod.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientFixes.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/lang/Language.kt
  src/main/java/net/ccbluex/liquidbounce/utils/attack/EntityUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/FileExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/Background.kt
Labels: 🔥 enhancement, 🌕 legacy

#5016 fix(legacy): customhotbar causing minecraft font issue
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
Labels: 🐛 bug, 🌕 legacy

#5020 fix(legacy): Scaffold slot switch not following vanilla logic.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/SilentHotbar.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5021 feat(legacy): copy button for error dialog
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/utils/io/MiscUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5024 chore(legacy): added staffdetector oc-tc mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#5034 feat(legacy): Sneak timing options to Scaffold.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5012 feat/refactor/fix: LRU CACHE - GameFontRenderer/AWTFontRenderer improvements
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiScripts.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/AWTFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/CachedFont.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
Labels: 🔥 enhancement, 🌕 legacy

#5043 refactor(legacy): World modules code cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/AutoBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientFixes.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#5044 feat(legacy): Smooth but fast enough rotation reset for Legitimize rotation option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/Rotation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5047 refactor(legacy): Misc modules & configs code cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoAccount.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoDisable.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/LiquidChat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/ResourcePackSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/Spammer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedProtectionESP.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/AccountsConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ClickGuiConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/HudConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ModulesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ShortcutsConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/XRayConfig.kt
Labels: 🔥 enhancement, 🌕 legacy

#5048 feat(legacy): AltManager button from GuiMultiplayer
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiMultiplayer.java
Labels: 🔥 enhancement, 🌕 legacy

#5050 feat(legacy): packetdebugger show cancelled packets
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/PacketDebugger.kt
Labels: 🔥 enhancement, 🌕 legacy

#5051 refactor(legacy): Scaffold Sneak options.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5052 fix(legacy): NameTags rendering name-tags with bobbing effect when Tracers is enabled.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
Labels: 🐛 bug, 🌕 legacy

#5055 refactor/fix(legacy): modules fix/cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/BufferSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/FastStairs.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/IceSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5056 feat(legacy): introduce EntityLookup API
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/EntityLookup.kt
Labels: 🔥 enhancement, 🌕 legacy

#5060 fix(legacy): NameTags/PointerESP/Custom-Hotbar render bugs.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5064 refactor(legacy): default implementation of Listenable handleEvents
  src/main/java/net/ccbluex/liquidbounce/event/Listenable.kt
Labels: 🔥 enhancement, 🌕 legacy

#5066 refactor(legacy): optimized entity rendering with EntityLookup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TNTBlock.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/EntityLookup.kt
Labels: 🔥 enhancement, 🌕 legacy

#5067 fix(legacy): PacketDebugger displaying obfuscated packet fields.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/PacketDebugger.kt
Labels: 🐛 bug, 🌕 legacy

#5071 refactor(legacy): improved BedPlates update loop
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#5079 fix(legacy): BedPlates module displaying culled information.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5080 feat(legacy): Better rotation reaction when rotation difference is low. (MinRotationDifference option)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5096 refactor(legacy): rename TickedActions extensions of Module
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/ClickRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/RotationRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/TickedActions.kt
Labels: 🔥 enhancement, 🌕 legacy

#5081 refactor(legacy): optimize usage of Triple
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Keystrokes.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5099 feat(legacy): killaura activation slot
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#5104 feat(legacy): RenderModel visual option to FakeLag.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5105 b99 release.
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
Labels: 🌕 legacy

#5106 b100 now in development mode.
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
Labels: 🌕 legacy

#5109 fix: arraylist out transition missing
  src-theme/src/routes/hud/elements/ArrayList.svelte
Labels: 🐛 bug

#5057 refactor(legacy): more async operations in cape API
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeAPI.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiDonatorCape.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/GsonExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/HttpUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5118 feat/fix(legacy): esp gaussian mode & fixed esp inside dorender not following condition
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRendererLivingEntity.java
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5127 feat(legacy): added freelook autof5 option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeLook.kt
Labels: 🔥 enhancement, 🌕 legacy

#5128 feat(legacy): ClickGUI AutoScroll.
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/Panel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/elements/Element.kt
Labels: 🔥 enhancement, 🌕 legacy

#5119 refactor(legacy): optimized JSON loading from web
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/chat/Client.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/HeadsTab.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/HttpUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
Labels: 🔥 enhancement, 🌕 legacy
