Repository CCBlueX/LiquidBounce, pull requests merged in 2024-07, with the labels that each got.

#3363 feat(legacy): PredictOnlyWhenOutOfRange sub-option to Killaura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#3362 feat(legacy): NextBacktrackDelay option to Backtrack.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🔥 enhancement, 🌕 legacy

#3364 feat(legacy): Improved range optimized client prediction for KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#3378 fix(legacy): StartSecondRotationSlow + Bezier curve logic.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3383 refactor(legacy): Recoded the limit angle change process.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3386 feat(legacy): Added DebugRotations option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3387 fix(legacy): rotation related float range exceptions.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3389 fix(legacy): rotation debugging
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3391 fix(legacy): proper debug code positioning
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3393 feat(legacy): add more details to debug rotations
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3394 fix(legacy): possibly fixed rotations not easing in
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3396 fix(legacy): Eased in rotations.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3397 fix(legacy): Scaffold WaitForRotations not working as expected.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3419 feat(legacy): cheststealer debug option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
Labels: 🔥 enhancement, 🌕 legacy

#3428 feat(legacy): SlowDownOnDirectionChange Rotations option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3432 feat(legacy): killaura improvements (blinkautoblock, blockmaxrange & unblockmode)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3433 feat(legacy): hypixel air velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3443 feat(legacy): improved killaura stopblocking
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#3445 feat(legacy): added forceblockrender to releaseautoblock
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🔥 enhancement, 🌕 legacy

#3446 refactor(legacy): tabcomplete localconfig save command
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
Labels: 🔥 enhancement, 🌕 legacy

#3455 feat(legacy): staffdetector now works on other servers
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#3466 fix(legacy): killaura items blocking
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🐛 bug, 🌕 legacy

#3468 feat(legacy): hide liquidproxy sensitive information
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiConnecting.java
Labels: 🔥 enhancement, 🌕 legacy

#3473 refactor(legacy): separate tower from scaffold class
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoDisable.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMovementInputFromOptions.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
Labels: 🔥 enhancement, 🌕 legacy

#3477 fix(legacy): backtrack causing chunk desync
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#3478 feat(legacy): localconfig now saves with .txt extension
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
Labels: 🔥 enhancement, 🌕 legacy

#3486 fix(legacy): update maxRenderDistanceSq onInit
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
Labels: 🐛 bug, 🌕 legacy

#3487 fix(legacy): attempt to correct slowdownondirectionchange logic.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3489 feat(legacy) added some sword animations
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Animations.kt
Labels: 🔥 enhancement, 🌕 legacy

#3493 fix(legacy): make values that need to be subjective, well... subjective?
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3506 chore(nextgen): add&improve Chinese Translation
  src/main/resources/assets/liquidbounce/lang/zh_cn.json
Labels: 🌑 nextgen, 🏳 i18n

#3517 refactor(legacy): fix vulcan speed mode name
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/vulcan/VulcanGround288.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/VulcanFast288.kt
Labels: 🐛 bug, 🌕 legacy

#3518 refactor(legacy): updated vulcan nofall credits
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/VulcanFast288.kt
Labels: 🐛 bug, 🌕 legacy

#3526 fix(legacy): KillAura NoRotate sometimes rotating.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#3531 fix(legacy): removed failswing support for killaura norotation.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#3532 fix(legacy): check distance to entity for noRotation in killaura
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#3535 feat(legacy): add packettick to vulcanscaffold disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/vulcan/VulcanScaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#3541 fix(legacy): killaura off autoblock
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🐛 bug, 🌕 legacy

#3544 fix(legacy): SlowDownOnDirectionChange not working, added body point selection options, moved all rotation options to rotation-utilizing options and removed ExperimentalLinearCurveRotation option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3547 fix(legacy): Temporary Disabler fix
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/DisablerMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/grim/GrimPlace.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/startsprint/StartSprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusCombat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/verus/VerusFly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/vulcan/VulcanScaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🐛 bug, 🌕 legacy

#3553 fix(legacy): added missing break statement in BOW case of switch-case.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🐛 bug, 🌕 legacy

#3555 feat(legacy): Better spot randomization.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3561 feat(legacy): A bit of a more realistic speed change for the Relative Smoother Rotation mode.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3563 fix(legacy): KillAura unblocking for no reason when toggled off.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3564 feat(legacy): Chance option to SuperKnockback.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
Labels: 🔥 enhancement, 🌕 legacy

#3567 feat(legacy): Made SimulateShortStop do a bit more realistic short stops.
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MovingObjectExtension.kt
Labels: 🔥 enhancement, 🌕 legacy

#3571 feat(legacy): Made slow rotation starts occur a bit more realistically.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy
