Repository CCBlueX/LiquidBounce, pull requests merged in 2024-09, with the labels that each got.

#3848 feat(legacy): improved uncphopnew pt.2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHopNew.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3850 fix(legacy): unformatted names generating the opposites
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/utils/misc/RandomUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3852 feat(legacy): added fakelag blinkonaction options
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
Labels: 🔥 enhancement, 🌕 legacy

#3855 feat(legacy): allow sneaking manually while using eagle
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Eagle.kt
Labels: 🔥 enhancement, 🌕 legacy

#3864 feat(legacy): improved discordrpc
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiModsMenu.kt
Labels: 🔥 enhancement, 🌕 legacy

#3865 refactor(legacy): noweb (new/old)mineblaze -> intave(new/old)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoWeb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/IntaveNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/IntaveOld.kt
Labels: 🔥 enhancement, 🌕 legacy

#3869 feat(legacy): slightly improved tickbase
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🔥 enhancement, 🌕 legacy

#3874 fix(legacy): tickbase language format
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🏳 i18n, 🌕 legacy

#3872 chore: updated ru_ru.json
  src/main/resources/assets/liquidbounce/lang/ru_ru.json
Labels: 🌑 nextgen, 🏳 i18n

#3882 feat(legacy): added rotations smoothing (client-side)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
Labels: 🔥 enhancement, 🌕 legacy

#3885 feat(legacy): improved discordrpc settings
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiModsMenu.kt
Labels: 🔥 enhancement, 🌕 legacy

#3898 feat(legacy): added bedplates module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#3899 fix(legacy): verusfly disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🐛 bug, 🌕 legacy

#3900 fix(legacy): realistic rotations
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
Labels: 🐛 bug, 🌕 legacy

#3902 feat(legacy): improved flagcheck (ghostblock & countertickreset)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3895 Update ru_ru.json
  src/main/resources/assets/liquidbounce/lang/ru_ru.json
Labels: 🌑 nextgen, 🏳 i18n

#3906 feat(legacy): added more block overlay blocks support
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3911 chore(legacy): add & fix antiexploit translation
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🔥 enhancement, 🏳 i18n, 🌕 legacy

#3912 feat(legacy): blockoverlay modes (box, otherbox, outline)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
Labels: 🔥 enhancement, 🌕 legacy

#3916 feat(legacy): blockoverlay depth3d option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
Labels: 🔥 enhancement, 🌕 legacy

#3953 feat(legacy): added pikanetwork to staff-mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#3954 fix(legacy): removed unused gl func in blockoverlay
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
Labels: 🐛 bug, 🌕 legacy

#3955 fix(legacy): flagcheck ghostblock falses
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🌕 legacy

#3956 feat(legacy): added keeptablist & redo flagcheck ghostblock checks
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/KeepTabList.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiAchievement.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#3958 fix(legacy): gradient shader stuttering (sometimes)
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_font_shader.frag
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/gradient_shader.frag
Labels: 🐛 bug, 🌕 legacy

#3965 feat(legacy): ported nextgen spigotspam disabler & fixed custom background
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/Background.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3968 feat(legacy): added background glow & fixed background deletion
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreen.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientConfiguration.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/BackgroundShader.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3976 chore(legacy): updates copyright license
  LICENSE
Labels: 🌕 legacy, Client Base

#3977 refactor(legacy): removed mixinguiIngameforge class
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGameForge.java
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🌕 legacy

#3988 fix(legacy): storageesp wireframe render bug
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
Labels: 🐛 bug, 🌕 legacy

#3987 fix(legacy): verusfly disabler flagging scaffold B
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3991 fix(legacy): verusfly flagging badpacketO
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#3995 fix(legacy): jumpOnUserInput not working properly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3997 fix(legacy): nametags not rendering correctly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
Labels: 🐛 bug, 🌕 legacy

#3998 feat(legacy): vulcan 0 0 velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3999 fix(legacy): tower rotations, vulcan velocity & scaffold disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🐛 bug, 🌕 legacy

#4000 fix(legacy): verusfly scaffold B flag pt.2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🐛 bug, 🌕 legacy

#4009 feat(legacy): An alternative implementation of FreeCam.
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeCam.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Rotations.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderGlobal.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/InputExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/resources/liquidbounce.forge.mixins.json
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy

#4011 feats(legacy): PostInventoryCloseDelay option, delay functionality for AutoArmor and fixed FreeCam blinding the user when inside a block.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinItemRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy
