Repository CCBlueX/LiquidBounce, pull requests merged in 2024-08, with the labels that each got.

#3579 fix(legacy): fixed backtrack chunk & tickbase working with no targets
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🐛 bug, 🌕 legacy

#3580 fix(legacy): fixed nullpointer spam
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#3582 fix(legacy): highlight slot lightning
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiContainer.java
Labels: 🐛 bug, 🌕 legacy

#3587 feat(legacy): hide liquidproxy address on presence
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
Labels: 🌕 legacy

#3591 feat(legacy): antifireball ticks check
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
Labels: 🔥 enhancement, 🌕 legacy

#3592 feat(legacy): added fireball fly, added missing modules header, fixed both slot desync & nameprotect option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NameProtect.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/FlyMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/NewVerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/NoFallMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/aac/AAC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/aac/AAC3311.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/aac/AAC3315.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/aac/LAAC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Cancel.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/CubeCraft.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Hypixel.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/NoGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Packet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Spartan.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/SpoofGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/VulcanFast288.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3593 fix(legacy): fireball fly values
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
Labels: 🐛 bug, 🌕 legacy

#3594 refactor(legacy): changed hideSensitiveInformation function to serverutils
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiConnecting.java
  src/main/java/net/ccbluex/liquidbounce/utils/ServerUtils.kt
Labels: 🌕 legacy

#3595 feat(legacy): experimental fast(er) Verus glide
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/verus/VerusGlide.kt
Labels: ⚡ bypass, 🌕 legacy

#3599 fix(legacy): speed nullpointer
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
Labels: 🐛 bug, 🌕 legacy

#3597 fix(legacy): make the VerusGlide mode bypass
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/verus/VerusGlide.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#3601 refactor(legacy): slightly optimized rpc
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
Labels: 🔥 enhancement, 🌕 legacy

#3602 feat(legacy): tickbase min/max range, changes, only killaura & fix etc
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Fireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiAchievement.java
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3604 feat(legacy): mineblaze/intave speed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineBlazeHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3623 feat(legacy): improved & added more option to customspeed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/CustomSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🔥 enhancement, 🌕 legacy

#3624 feat(legacy): hypixel bypasses (nofall, autoblock)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Hypixel.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/HypixelTimer.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3626 feat(legacy): vulcan tower
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3629 feat(legacy): add NotOnMove option to Tower
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🔥 enhancement, 🌕 legacy

#3628 feat(legacy): Make TickBase's visuals customizable
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🔥 enhancement, 🌕 legacy

#3630 fix(legacy): treat Godbridge mode as Godbridge rotation mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3632 fix(legacy): Safe division for rotation slow down calculations.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🐛 bug, 🌕 legacy

#3635 fix(legacy): add missing tower option to scaffold
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#3636 fix(legacy): blinkautoblock sequence
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#3637 fix(legacy): black hotbar option not being aligned correctly.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGameForge.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/FakeItemRender.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🐛 bug, 🌕 legacy

#3640 feats(legacy): (Min/Max)HorizontalBodySearch, MinRotationDifference options, RotationRecorder module.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/RotationRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/BedDefender.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGameForge.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🔥 enhancement, 🌕 legacy

#3643 fix(legacy): tickbase line option & backtrack use isSelected
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🐛 bug, 🌕 legacy

#3644 update ru_ru.json
  src/main/resources/assets/liquidbounce/lang/ru_ru.json
Labels: 🌑 nextgen, 🏳 i18n

#3631 feat(legacy): add MinRotationDiffFromEnemyToIgnore to SuperKnockback
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
Labels: 🔥 enhancement, 🌕 legacy

#3652 chore: update zh_cn
  src/main/resources/assets/liquidbounce/lang/zh_cn.json
Labels: 🌑 nextgen, 🏳 i18n

#3654 feat(legacy): added noslow foodonly & drinkonly & intave consume
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinItemRenderer.java
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3658 chore(legacy): updated kotlin & dekekt version
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sneak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/hypixel/BoostHypixel.kt
Labels: 🔥 enhancement, 🌕 legacy

#3661 Revert "chore(legacy): updated kotlin & dekekt version"
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sneak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/hypixel/BoostHypixel.kt
Labels: 🐛 bug, 🌕 legacy

#3663 fix(legacy): revert kotlin update #2
  gradle.properties
Labels: 🐛 bug, 🌕 legacy

#3664 feat(legacy): inventorymove mouse support
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
Labels: 🔥 enhancement, 🌕 legacy

#3662 update ru_ru.json
  src/main/resources/assets/liquidbounce/lang/ru_ru.json
Labels: 🌑 nextgen, 🏳 i18n

#3666 feat(legacy): added blinkautoblock blink ticks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3667 feat(legacy): added antibot capabilities mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
Labels: 🔥 enhancement, 🌕 legacy

#3668 feat(legacy): added velocity pause on explosion
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, 🌕 legacy

#3669 feat(legacy): fixed, improved & optimized staff detector
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3670 fix(legacy): projectiles sidehit null
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🐛 bug, 🌕 legacy

#3690 fix(legacy): crash on singleplayer
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3696 feat(legacy): add the Line option to FakeLag
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
Labels: 🔥 enhancement, 🌕 legacy

#3697 feat(legacy): added invutils finditemarray, selfinteract kick & optimization
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoProjectile.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Kick.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AutoPlay.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3699 fix(legacy): safe division for randomclickdelay
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/TimeUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3700 fix(legacy): targethud healthbar width
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#3701 fix(legacy): save division cast int to float
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🐛 bug, 🌕 legacy

#3702 feat(legacy): added blink antivoid & renamed bugup -> antivoid
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiVoid.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3703 refactor(legacy): use infix for safe division
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/TimeUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#3705 fix(legacy): targethud healthbar & taco hud width calc
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#3706 feat(legacy): scaffold jumpstrafe option
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop3313.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
Labels: 🔥 enhancement, 🌕 legacy

#3714 fix(legacy): make all visual ChestStealer values subjective
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
Labels: 🐛 bug, 🌕 legacy

#3716 fix(legacy): fix Tower rotating even if rotations are off
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Tower.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#3721 feat(legacy): mode to tickbase module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🔥 enhancement, 🌕 legacy

#3722 feat(nextgen): increased tickbase max range to 8.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleTickBase.kt
Labels: 🔥 enhancement, 🌑 nextgen

#3730 refactor(legacy): rewrite MLG nofall
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/NoFallMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
Labels: 🔥 enhancement, 🌕 legacy

#3715 feat(legacy): add VerusFHop speed mode, improve VerusGlide fly mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/verus/VerusGlide.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusFHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3732 fix(legacy): backtrack desync
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#3734 fix(legacy): add reset to backtrack
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#3743 fix(legacy): blink antivoid
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/AntiVoid.kt
Labels: 🐛 bug, 🌕 legacy

#3739 feat(legacy): Experimental packet cancel option to Backtrack.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3745 feat(legacy): added fishing rods to invcleaner
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
Labels: 🔥 enhancement, 🌕 legacy

#3762 fix(legacy): localconfig delete command
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalSettingsCommand.kt
Labels: 🐛 bug, 🌕 legacy

#3763 fix(legacy): scoreboard rect color reset
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
Labels: 🐛 bug, 🌕 legacy

#3770 fix(legacy): proper renderutils color reset
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#3774 fix(legacy): antivoid wrong translation
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🏳 i18n, 🌕 legacy

#3801 refactor(legacy): changed itemesp text mode to an option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
Labels: 🔥 enhancement, 🌕 legacy

#3824 fix(legacy): fixes gui crashing on resize
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientFixes.kt
Labels: 🐛 bug, 🌕 legacy

#3825 feat(legacy): added invmanager maxfishingrod stacks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
Labels: 🔥 enhancement, 🌕 legacy

#3826 feat(legacy): improved nuker (blocks & lightopacity)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
Labels: 🔥 enhancement, 🌕 legacy

#3838 feat(legacy): updated staffdetector staffs list
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#3839 fix(legacy): issue with maxRenderDistanceSq values
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
Labels: 🐛 bug, 🌕 legacy

#3840 feat(legacy): ported nextgen ncphop speed & added strafe strength
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineBlazeHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#3846 fix(legacy): tickbase spam ticking
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
Labels: 🐛 bug, 🌕 legacy

#3847 refactor(legacy): slightly improved uncphopnew
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHopNew.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy
