Repository CCBlueX/LiquidBounce, pull requests merged in 2024-11, with the labels that each got.

#4314 refactor(legacy): removed useless check in mixinguiscreen
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreen.java
Labels: 🔥 enhancement, 🌕 legacy

#4315 chore(legacy): made values be able to be excluded from config system.
  src/main/java/net/ccbluex/liquidbounce/utils/ClassUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#4320 chore(legacy): Improved option exclusion/hide process.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinInventoryPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderPlayer.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClassUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SettingsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/value/Value.kt
Labels: 🔥 enhancement, 🌕 legacy

#4340 fixes(legacy): FreeCam not detecting inputs and AutoTool not synchronizing break speed.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeCam.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinInventoryPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinPlayerControllerMP.java
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/InputExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4356 chore(legacy): Applied SilentHotbar slot to more player "currentItem" usages.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoProjectile.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoRod.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TNTBlock.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiAFK.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinPlayerControllerMP.java
  src/main/java/net/ccbluex/liquidbounce/utils/SilentHotbar.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy

#4367 feat(legacy): ClickRecorder module.
  src/main/java/net/ccbluex/liquidbounce/api/ClientSettings.kt
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/Command.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/FriendCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HelpCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HideCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/LocalThemesCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/PacketDebuggerCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TacoCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/TeleportCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Ghost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/ItemTeleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Kick.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Plugins.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Teleport.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiVanish.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoAccount.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoDisable.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/ClickRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/LiquidChat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/MidClick.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/PacketDebugger.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/RotationRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/hypixel/BoostHypixel.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanGhost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/longjumpmodes/other/VerusDamage.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/KeyPearl.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/java/net/ccbluex/liquidbounce/script/api/global/Chat.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/utils/CPSCounter.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ClientUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SettingsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#4370 feat/fix(legacy): Interpolated positions for modules that use server-based positions (Backtrack/ForwardTrack) + fixed FreeCam not rendering user for a brief second when moving.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeCam.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButton.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButtonExt.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiScreenOptionsSoundsButton.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderGlobal.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/java/net/ccbluex/liquidbounce/injection/implementations/IMixinEntity.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4372 fix(legacy): FreeCam disabled AllowRotationChange not working.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
Labels: 🐛 bug, 🌕 legacy

#4383 fix(legacy): SilentHotbar not resetting the original slot.
  src/main/java/net/ccbluex/liquidbounce/utils/SilentHotbar.kt
Labels: 🐛 bug, 🌕 legacy

#4386 fix(legacy): Scaffold failing to rotate at small rotation differences using StartFirstRotationSlow/SlowDownOnDirectionChange.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4387 fix(legacy): Custom visual interpolated positions not being displayed on screen.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderGlobal.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4394 fix(legacy): Tracers module not rendering bobbing.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4404 feat/fix(legacy): Click mode to Scaffold + fixed Tracers lines not drawing a line to enemies' position properly.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4409 fix(legacy): targethud smooth mode animation & noachievement translation
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🏳 i18n, 🌕 legacy

#4417 feat/fix(legacy): added pointeresp & fixed glow esp bot option
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4418 fix(legacy): Velocity calling an unnecessary function the moment a velocity related packet is received.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🐛 bug, 🌕 legacy

#4429 feat(legacy): Legitimize rotation option for rotation modules, removing StartFirstRotationSlow/SlowDownOnDirectionChange, using this as replacement.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4430 feat(legacy): ported intave14 (lowhop, initialboost)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/intave/IntaveHop14.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4432 feat(legacy): cameraview module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/CameraView.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#4445 chore(legacy): improved README
  README.md
Labels: 📝 documentation

#4327 feat/fix(legacy): updated mojang -> minecraftservices api & fixed session login
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiDisconnected.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiLoginIntoAccount.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/LoginUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4459 chore(legacy): removed isvalidtoken check & mojang authserver from server status
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4460 feat(legacy): oldgrim noweb & nofluid
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoFluid.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoWeb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/other/Grim.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntity.java
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4461 fix(legacy): grim -> oldgrim noweb
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/other/OldGrim.kt
Labels: 🐛 bug, 🌕 legacy

#4487 fix(legacy): Wrong method to calculate Linear Smoother mode.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/background.frag
Labels: 🐛 bug, 🌕 legacy

#4492 feat(legacy): matrix lowhop, airticks movementutils & cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoFluid.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/other/OldGrim.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/hypixel/HypixelLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/intave/IntaveHop14.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixSlowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ServerUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4494 feat/fixes(legacy): TicksUntilStart option to NoRotateSet + fixed server rotation modules not resetting under low AngleResetDifference values. + fixed some button sliders' game cursor rectangle not being replaced with own rendering method.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGui.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButton.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButtonExt.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlider.java
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4502 fix(legacy): intavereduce flag on explosion
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🐛 bug, 🌕 legacy

#4511 fix(legacy): Legitimize option not calculating slow starts properly.
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#4515 feat(legacy): matrixhop airstrafe & removed timespeed
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4521 fix(legacy): Incorrect action when clicking on either "Unformatted alt names" or "Random alts mode".
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientConfiguration.kt
Labels: 🐛 bug, 🌕 legacy

#4523 feat(legacy): cameraview savelastgroundY & onF5 options
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/CameraView.kt
Labels: 🔥 enhancement, 🌕 legacy

#4530 fix(legacy): KillAura FailSwing SwingOnlyInAir sub-option block click process exhibiting inhumane patterns when disabled.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#4524 feat(legacy): noslow drop mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4533 fix(legacy): noslow drop mode logic
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
Labels: 🐛 bug, 🌕 legacy

#4538 fix(legacy): KillAura Switch mode taking into account entities that cannot be reached within attack range.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4546 fix(legacy): hide scaffold down option when sameY enabled
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#4550 fix(legacy): KillAura not modifying sprint properly.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayer.java
  src/main/java/net/ccbluex/liquidbounce/utils/MovementUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🌕 legacy

#4556 fix(legacy): MultiActions breaking interactions.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
Labels: 🐛 bug, 🌕 legacy

#4564 feat/fix(legacy): notifier module & fixed image color
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/Notifier.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4563 feat(legacy): optimized font rendering
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiChat.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlot.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiScripts.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiUpdate.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiWelcome.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiDonatorCape.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiLoginIntoAccount.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiLoginProgress.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiMicrosoftLoginProgress.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Image.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/SpeedGraph.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/tools/GuiTools.kt
Labels: 🔥 enhancement, 🌕 legacy

#4571 fix(legacy): Backtrack breaking KillAura's new entity finding method.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#4573 feat(legacy): Position interpolation for Projectiles module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
Labels: 🔥 enhancement, 🌕 legacy

#4582 feat(legacy): added scaffold reverseyaw rotation
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#4584 fix(legacy): killaura autoblock display
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#4593 feat(legacy): New rotation movement method.
  .idea/kotlinc.xml
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RandomizationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4604 chore(legacy): Improved code loop performance.
  src/main/java/net/ccbluex/liquidbounce/event/EventManager.kt
  src/main/java/net/ccbluex/liquidbounce/event/Listenable.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/CommandManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/BindsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/FriendCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HelpCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/HideCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/RemoteViewCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoRod.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/AWTFontRenderer.kt
Labels: 🔥 enhancement, 🌕 legacy

#4630 fix(legacy): drop noslow & sword noslow not working correctly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🐛 bug, 🌕 legacy

#4633 fix(legacy): f*cker flagging fastbreak in grimac
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
Labels: 🐛 bug, 🌕 legacy

#4647 feat/refactor(legacy): added wireframe esp to back/forwardtrack & removed dorenderentity from mixin
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
Labels: 🔥 enhancement, 🌕 legacy

#4648 chore(legacy): updated kotlin & coroutines dependancies
  .idea/kotlinc.xml
  build.gradle
  gradle.properties
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/AntiExploit.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
Labels: 🔥 enhancement, 🌕 legacy

#4649 refactor(legacy): use coroutine in BlockESP rather than new thread
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientSettings.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/world/MixinChunk.java
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/CoroutineExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#4652 chore/refactor(legacy): updated xchart dependencies & removed detekt
  build.gradle
  gradle.properties
  settings.gradle
Labels: 📚 dependencies, 🌕 legacy

#4655 refactor(legacy): MutableBlockPos in searching
  src/main/java/net/ccbluex/liquidbounce/utils/block/BlockUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/MiniMapRegister.kt
Labels: 🔥 enhancement, 🌕 legacy

#4667 feat(legacy): Added Min/Max delays to Backtrack and fixed the way lag-based modules preserve packet order.
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC2.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/utils/BlinkUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitMsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/WaitTickUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4669 feat(legacy): ported NG blocksmc bypasses (velocity & speed)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/BlocksMCHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4671 feat(legacy): blocksmctimer step
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/BlocksMCHop.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4676 fix(legacy): intavereduce velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🐛 bug, 🌕 legacy

#4691 fix(legacy): Newer kotlin versions making InventoryManager options not to be detected.
  build.gradle
  gradle.properties
Labels: 🐛 bug, 🌕 legacy

#4697 fix(legacy): blocksmchop damageboost & blocksmc velocity flagging badpacketsE
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/BlocksMCHop.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#4698 fix(legacy): forwardtrack model esp
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
Labels: 🐛 bug, 🌕 legacy

#4702 fix(legacy): prevent blocksmctimer step running on bad scenarios
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Armor.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#4719 feat(legacy): Visual options when missing hits to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#4720 chore(legacy): ClickRecorder/RotationRecorder modules now saving files inside client folder instead of minecraft folder.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/ClickRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/RotationRecorder.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationSettings.kt
Labels: 🔥 enhancement, 🌕 legacy

#4723 refactor(legacy): merged modules to antiblind
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/AntiBlind.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NoAchievement.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NoBooks.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NoScoreboard.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiAchievement.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderEntityItem.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#4725 feat/fix(legacy): RenderSelf option to Nametags + fixed Scaffold Mark option not displaying the box below player.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#4727 fix(legacy): truesight force particlesettings
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TrueSight.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRendererLivingEntity.java
Labels: 🐛 bug, 🌕 legacy

#4733 feat(legacy): inventorymove motion & improved bmctimer step
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#4734 fix(legacy): scaffold blocksSafe not working with legitimize
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#4735 feat/refactor(legacy): added BlockPushEvent to ScriptAPI & renamed PushOutEvent -> BlockPushEvent
  src/main/java/net/ccbluex/liquidbounce/event/Events.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Phase.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/script/api/ScriptModule.kt
Labels: 🔥 enhancement, 🌕 legacy, java

#4740 fix(legacy): killaura autoblock not working correctly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#4741 feat(legacy): added autocosenosoup option to autosoup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
Labels: 🔥 enhancement, 🌕 legacy

#4743 chore(legacy): added librecraft stafflist to staffdetector
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#4748 fix(legacy): targethud rendering healthbar
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🐛 bug, 🌕 legacy

#4749 refactor(legacy): removed staffdetector unnecessary function
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#4754 feat(legacy): Replaced minecraft text field and slot renders with custom rectangles.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlot.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiTextField.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/liquidbounce.forge.mixins.json
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy

#4755 refactor(legacy): improved locks in MiniMapRegister
  src/main/java/net/ccbluex/liquidbounce/utils/render/MiniMapRegister.kt
Labels: 🔥 enhancement, 🌕 legacy

#4759 feat(legacy): Breathing effects to text fields.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiTextField.java
Labels: 🔥 enhancement, 🌕 legacy
