Repository CCBlueX/LiquidBounce, pull requests merged in 2024-01, with the labels that each got.

#1705 [LEGACY] ESP, Nametags & StorageESP Optimization
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/utils/EntityUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#1759 NEXTGEN: Rotation improvements
  config/detekt/baseline.xml
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/entity/MixinPlayerEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/network/MixinClientPlayNetworkHandler.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAimbot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoBow.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoPot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleTimerRange.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModuleDisabler.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleFly.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleLongJump.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleSprint.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/autododge/ModuleAutoDodge.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/speed/modes/SpeedCustom.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/speed/modes/SpeedHypixelBHop.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/speed/modes/SpeedSpartan524.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/speed/modes/SpeedVerusB3882.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleAntiAFK.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleFastUse.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleRegen.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/ModuleZoot.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/player/nofall/modes/MLG.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleChestAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleFucker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleNuker.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleProjectilePuncher.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleTimer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/AutoFarmAutoWalk.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/autoFarm/ModuleAutoFarm.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/crystalAura/SubmoduleCrystalDestroyer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/crystalAura/SubmoduleCrystalPlacer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/ModuleScaffold.kt
  src/main/kotlin/net/ccbluex/liquidbounce/script/bindings/api/JsRotationUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/AimPlan.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationsUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/client/Timer.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/kotlin/Priority.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/kotlin/RequestHandler.kt
  src/test/kotlin/net/ccbluex/liquidbounce/utils/kotlin/RequestHandlerTest.kt
Labels: 🐛 bug, 🔥 enhancement, 🌑 nextgen

#1760 LEGACY: Added options to KillAura -> FailSwing option and fixed Tracers not syncing with rotation.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1765 NEXTGEN: Improved Ignite module and fixed PingSpoof module cancelling wrong ping related packet.
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/exploit/ModulePingSpoof.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/ModuleIgnite.kt
Labels: 🔥 enhancement, 🌑 nextgen

#1768 NEXTGEN: Fixed a couple of rotation issues.
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinKeyboardInput.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/entity/MixinLivingEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/entity/MixinPlayerEntity.java
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/render/MixinCamera.java
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoBow.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/ModuleKillAura.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/killaura/features/FailSwing.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/movement/ModuleSprint.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/render/ModuleTrajectories.kt
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/world/scaffold/ModuleScaffold.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/aiming/RotationsUtil.kt
  src/main/kotlin/net/ccbluex/liquidbounce/utils/kotlin/RequestHandler.kt
Labels: 🐛 bug, 🌑 nextgen

#1775 LEGACY: Added Relative and Linear smoother modes to RotationUtils-utilizing modules, improved RandomCenter option and much more.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/BowAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/CivBreak.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1776 LEGACY: Fixed Scaffold placing when it doesn't have to.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryUtils.kt
Labels: 🐛 bug, 🌕 legacy

#1774 LEGACY: Added noPackets option to Sprint module and improved Freeze module
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/BufferSpeed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/FastStairs.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Freeze.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/LongJump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Parkour.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Step.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Strafe.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/WallClimb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/hypixel/BoostHypixel.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/ncp/OldNCP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Jump.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/aac/LAAC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/other/Rewi.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC2BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC3BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC4BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC5BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC7BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop350.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop438.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACYPort2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/Frame.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPFHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/NCPHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/UNCPHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/YPort2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/HypixelHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/Legit.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/Matrix.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineBlazeHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/MineBlazeTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/SlowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/spartan/SpartanYPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/NewVerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiAFK.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedProtectionESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1781 LEGACY: Added SimulatedPlayer.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PlayerSimulation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🔥 enhancement, 🌕 legacy

#1788 LEGACY: Fixed Aimbot FOV not working and added GhostBlock mode to BugUp module.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/BugUp.kt
Labels: 🐛 bug, 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1790 LEGACY: Fixed ViaForge button position messing with other client buttons.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiMultiplayer.java
Labels: 🐛 bug, 🌕 legacy

#1797 LEGACY: Moved our button positions instead of moving ViaForge button.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiMultiplayer.java
Labels: 🌕 legacy

#1796 LEGACY: Fixed KeyPearl slot switching and AntiFireball not hitting the fireballs
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/KeyPearl.kt
  src/main/java/net/ccbluex/liquidbounce/utils/RaycastUtils.kt
Labels: 🐛 bug, 🌕 legacy

#1792 LEGACY: Add animation SwingSpeed option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Animations.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
Labels: 🔥 enhancement, 🌕 legacy

#1801 LEGACY: Made Scaffold reset rotations according to KeepTicks regardless of KeepRotation option being on/off. AntiBlind module and Animation improvements.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMovementInputFromOptions.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityLivingBase.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1802 LEGACY: Added New NoFall Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Cancel.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1808 LEGACY: Added PredictClientMovement, PredictEnemyPosition to Aimbot and KillAura and GaussianOffset suboption to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMovementInputFromOptions.java
  src/main/java/net/ccbluex/liquidbounce/utils/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1813 Fixed WTap mode of SuperKnockback freezing inputs when Sprint is enabled and AllDirections option is enabled while running omnidirectionally.
  src/main/java/net/ccbluex/liquidbounce/injection/mixins/minecraft/client/MixinKeyboardInput.java
Labels: 🐛 bug, 🌑 nextgen

#1818 LEGACY: TimerRange Small Fixes & Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/utils/EntityUtils.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1829 LEGACY: Added MaxRotationDifferenceToSwing option to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#1830 LEGACY: Added New Fly Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Verus.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1828 LEGACY: Added AutoProjectile Module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoProjectile.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#1831 LEGACY: Added New Velocity Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1837 LEGACY: Added SwingWhenTicksLate and TicksLateToSwing options to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/utils/ClientUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#1838 LEGACY: Fixed AntiFireball module not working on good anti-cheats.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#1841 LEGACY: ItemPhysics Module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemPhysics.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderEntityItem.java
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#1842 LEGACY: VerusFly fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
Labels: 🔥 enhancement, 🌕 legacy

#1846 Removed AAC option, added SimulateClosingInventory and SimulateButterflyClicking to KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1847 LEGACY: Fixed KillAura rotating on the wrong event. (mistake)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#1853 LEGACY: Velocity Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#1852 LEGACY: VerusFly Fix 2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/Verus.kt
Labels: 🐛 bug, 🌕 legacy

#1850 LEGACY: Update Chinese translation
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🏳 i18n, 🌕 legacy

#1854 LEGACY: Possibly fixed SimulatedPlayer producing exceptions on production environment.
  src/main/java/net/ccbluex/liquidbounce/utils/PlayerSimulation.kt
  src/main/java/net/ccbluex/liquidbounce/utils/SimulatedPlayer.kt
Labels: 🐛 bug, 🌕 legacy
