Repository CCBlueX/LiquidBounce, pull requests merged in 2024-03, with the labels that each got.

#2223 LEGACY: Updates & Optimization
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Speed.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC2BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC3BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC4BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC5BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC6BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AAC7BHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACGround.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACGround2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop4.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACHop5.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACLowHop3.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACYPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/AACYPort2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/aac/OldAACBHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/MatrixSlowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/matrix/OldMatrixHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/YPort.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/ncp/YPort2.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2224 LEGACY: New NoWeb Mode
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoWeb.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/NewMineBlaze.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/OldMineBlaze.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2226 LEGACY: Added OnScaffold Option to KillAura
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#2251 LEGACY: Merged (Scaffold and Tower) & Other Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AutoDisable.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/NewMineBlaze.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/nowebmodes/intave/OldMineBlaze.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Tower.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2255 LEGACY: Small Changes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2261 LEGACY: Minor Update
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2264 Make configurables collapsable
  src-theme/src/routes/clickgui/setting/ConfigurableSetting.svelte
Labels: Theme

#2270 LEGACY: Revert in ArrayList
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
Labels: 🌕 legacy

#2276 LEGACY: Added SimulateDoubleClicking option to AutoClicker & Trigger
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Trigger.kt
Labels: 🔥 enhancement, 🌕 legacy

#2280 LEGACY: Fixed TimerRange
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
Labels: 🐛 bug, 🌕 legacy

#2293 LEGACY: Updates & Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2411 Update Traditional Chinese
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🌕 legacy

#2458 LEGACY: Bunch of Updates & Fixes pt.2
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NameProtect.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2472 LEGACY: Added FlagCheck
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#2468 Grimplace Disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/DisablerMode.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/disablermodes/grim/grimplace.kt
Labels: ⚡ bypass, 🌕 legacy

#2473 LEGACY: Added Header (FlagCheck)
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🌕 legacy

#2479 LEGACY: AntiBot Improvement & Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AntiBot.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2491 LEGACY: AutoRod Logic Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoRod.kt
Labels: 🔥 enhancement, 🌕 legacy

#2503 LEGACY: Added TimerBalance Utils
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/TimerBalanceUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#2558 LEGACY: Added Grim Velocity & KillAura Mark
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2560 LEGACY: Added VulcanGhost Fly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/Vulcan.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanGhost.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/vulcan/VulcanOld.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2563 LEGACY: Updates & Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/PingSpoof.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#2581 LEGACY: Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Criticals.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/other/BlocksMC.kt
Labels: 🐛 bug, 🌕 legacy

#2582 LEGACY: FlagCheck Condition Check
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
Labels: 🐛 bug, 🌕 legacy

#2585 LEGACY: Fixed Karhu Strafe Flag
  src/main/java/net/ccbluex/liquidbounce/utils/Rotation.kt
Labels: 🐛 bug, ⚡ bypass, 🌕 legacy

#2591 LEGACY: Fixed KillAura Blocking & SimulateDoubleClicking Issue
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NameProtect.kt
Labels: 🐛 bug, 🌕 legacy

#2603 LEGACY: StaffDetector Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2629 LEGACY: BlocksMC Fly Update
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Fly.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#2631 LEGACY: Added PPS Counter
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetworkManager.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PPSCounter.kt
  src/main/java/net/ccbluex/liquidbounce/utils/PacketUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#2639 LEGACY: Added AntiExploit & Fixed Velocity
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Velocity.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/AntiExploit.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2642 LEGACY: AntiExploit Small Tweak
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/AntiExploit.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/network/MixinNetHandlerPlayClient.java
Labels: 🔥 enhancement, 🌕 legacy

#2658 LEGACY: AutoWeapon, AutoPot & MLG NoFall Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoPot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoWeapon.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
Labels: 🔥 enhancement, 🌕 legacy

#2664 LEGACY: KillAura, Scaffold & StorageESP Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#2668 LEGACY: AutoSoup Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoSoup.kt
Labels: 🔥 enhancement, 🌕 legacy

#2669 LEGACY: RenderUtils & UI Cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiDonatorCape.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Cooldown.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🌕 legacy

#2670 LEGACY: Eagle Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Eagle.kt
Labels: 🔥 enhancement, 🌕 legacy

#2681 LEGACY: AtAllProvider, TimerRange & AutoF5 Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AtAllProvider.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🐛 bug, 🌕 legacy

#2682 LEGACY: StaffDetector & Scaffold Minor Fixes
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Scaffold.kt
Labels: 🌕 legacy

#2683 LEGACY: Super-KB WTap Improvement
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
Labels: 🔥 enhancement, 🌕 legacy
