Repository CCBlueX/LiquidBounce, pull requests merged in 2025-01, with the labels that each got.

#5130 refactor(legacy): GuiNewChat mixin slight code cleanup.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockLadder.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiKeyBindingList.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiNewChat.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinServerSelectionList.java
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
Labels: 🔥 enhancement, 🌕 legacy

#5163 fix: space separated names
  src-theme/src/routes/clickgui/Module.svelte
  src-theme/src/routes/clickgui/Search.svelte
  src-theme/src/routes/clickgui/setting/BindSetting.svelte
  src-theme/src/routes/clickgui/setting/BooleanSetting.svelte
  src-theme/src/routes/clickgui/setting/ChoiceSetting.svelte
  src-theme/src/routes/clickgui/setting/ChooseSetting.svelte
  src-theme/src/routes/clickgui/setting/ColorSetting.svelte
  src-theme/src/routes/clickgui/setting/ConfigurableSetting.svelte
  src-theme/src/routes/clickgui/setting/FloatRangeSetting.svelte
  src-theme/src/routes/clickgui/setting/FloatSetting.svelte
  src-theme/src/routes/clickgui/setting/IntRangeSetting.svelte
  src-theme/src/routes/clickgui/setting/IntSetting.svelte
  src-theme/src/routes/clickgui/setting/KeySetting.svelte
  src-theme/src/routes/clickgui/setting/TextArraySetting.svelte
  src-theme/src/routes/clickgui/setting/TextSetting.svelte
  src-theme/src/routes/clickgui/setting/TogglableSetting.svelte
  src-theme/src/routes/clickgui/setting/VectorSetting.svelte
  src-theme/src/routes/clickgui/setting/blocks/BlocksSetting.svelte
  src-theme/src/routes/clickgui/setting/common/Dropdown.svelte
  src-theme/src/routes/hud/elements/ArrayList.svelte
  src-theme/src/routes/hud/elements/tabgui/Module.svelte
  src-theme/src/theme/theme_config.ts
Labels: 🐛 bug

#5164 fix: formatting of 'egg and snowball' setting of autoshoot
  src/main/kotlin/net/ccbluex/liquidbounce/features/module/modules/combat/ModuleAutoShoot.kt
Labels: 🐛 bug

#5171 chore(legacy): updates copyright license 2024 -> 2025
  LICENSE
  zip_include/LICENSE
Labels: 🌕 legacy, Client Base

#5186 feat(legacy): ChineseHat module.
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ChineseHat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/utils/attack/EntityUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#5188 feat(legacy/ChineseHat): Hat texture option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ChineseHat.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/textures/hat.png
Labels: 🔥 enhancement, 🌕 legacy

#5201 fix(legacy/Sprint): Being movement-wise detected when sprinting after consuming.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/Sprint.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5189 feat/chore(legacy): InvMove Grim Bypass & Chinese translation
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/InventoryMove.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🔥 enhancement, 🏳 i18n, 🌕 legacy

#5246 feat(legacy/KillAura): GenerateSpotBasedOnDistance option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5254 feat(legacy): arraylist fade color
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5195 feat(legacy): Added New Disablers
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🔥 enhancement, 🌕 legacy

#5290 feat(legacy): added labymod client brand & updated LC version
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientFixes.kt
Labels: 🔥 enhancement, 🌕 legacy

#5294 feat(legacy): custom alts name prefix
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientConfiguration.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/kotlin/RandomUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/bg_BG.json
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_BR.json
  src/main/resources/assets/minecraft/liquidbounce/lang/pt_PT.json
  src/main/resources/assets/minecraft/liquidbounce/lang/ru_RU.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🔥 enhancement, 🌕 legacy

#5299 feat(legacy): verus beta disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5302 feat(legacy): verus experimental disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5212 feat(legacy): ColorValue for RGBColors
  src/main/java/net/ccbluex/liquidbounce/config/SettingsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedProtectionESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BlockOverlay.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Breadcrumbs.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ChineseHat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ClickGUI.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ItemESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/NameTags.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/PointerESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ProphuntESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/TNTTimer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiContainer.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Inventory.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Keystrokes.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Notifications.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Radar.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/SpeedGraph.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/inventory/InventoryManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5274 feat(legacy): SnakeGame Module
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/fun/SnakeGame.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🔥 enhancement, 🌕 legacy

#5304 fix(legacy): noslow working incorrectly
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/NoSlow.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/block/MixinBlockSoulSand.java
Labels: 🐛 bug, 🌕 legacy

#5309 fix(legacy/Colors): Its sliders not synchronizing when loading the client.
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5319 fix(legacy): Color picker not being visible when Armor element is disabled.
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/FlagCheck.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/BedPlates.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ChineseHat.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Projectiles.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/StorageESP.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/BlockCounter.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Radar.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5321 feat(legacy): Image shadow (and color) options.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Image.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5326 fix(legacy): backtrack freezing when condition isn't met
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🐛 bug, 🌕 legacy

#5331 feats(legacy): DrawRectOnTitle option for ScoreboardElement, optional edge rounding options for rectangles.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButton.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiButtonExt.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiSlot.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiTextField.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Image.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Taco.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/tabgui/combat.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/exploit.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/fun.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/misc.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/movement.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/render.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/user.png
  src/main/resources/assets/minecraft/liquidbounce/tabgui/world.png
Labels: 🔥 enhancement, 🌕 legacy

#5339 feat/fix/refactor(legacy): jumpcircle module, fixed targethud (anim, healthbar) & renderutils cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/JumpCircle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5358 feat(legacy): Improved range value options handling.
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
Labels: 🔥 enhancement, 🌕 legacy

#5357 feat(legacy): FrostBlur suboption to TargetHUD
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/FrostShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/frost.frag
Labels: 🔥 enhancement, 🌕 legacy

#5360 feat/refactor(legacy): check domain on scoreboard title & snakegame/targethud cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/fun/SnakeGame.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5368 feat(legacy): simplify scoreboard removal
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/AntiBlind.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiInGame.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
Labels: 🔥 enhancement, 🌕 legacy

#5367 fix/chore(legacy): text background scale & killaura cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
Labels: 🐛 bug, 🌕 legacy

#5369 feat(legacy): Font FIleFilter
  src/main/java/net/ccbluex/liquidbounce/utils/io/MiscUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5374 chore(legacy): Min/Max variables replaced with ranged values.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoArmor.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoClicker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/AutoProjectile.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/FakeLag.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/SuperKnockback.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TickBase.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/TimerRange.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NameProtect.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/NoFall.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/Blink.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/ChestStealer.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/timing/DelayTimer.kt
Labels: 🔥 enhancement, 🌕 legacy

#5375 fix(legacy): True positions not updating when target is out of screen.
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderGlobal.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRenderManager.java
Labels: 🐛 bug, 🌕 legacy

#5376 refactor(legacy): proper implementation for air/ground ticks
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/flymodes/blocksmc/BlocksMC2.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/hypixel/HypixelLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/other/BlocksMCHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHop.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/speedmodes/verus/VerusLowHopNew.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayerSP.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/ScoreboardElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Text.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/PlayerExtension.kt
  src/main/java/net/ccbluex/liquidbounce/utils/movement/MovementUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5269 chore/refactor(legacy): altmanager chinese translation & translation button/text
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/fun/SnakeGame.kt
  src/main/java/net/ccbluex/liquidbounce/lang/Language.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiLoginProgress.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiMicrosoftLoginProgress.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🔥 enhancement, 🌕 legacy

#5393 fix(legacy): switch language freezing
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiClientConfiguration.kt
Labels: 🐛 bug, 🌕 legacy

#5394 feat(legacy): scaffold telly ticksuntilrots range
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#5395 chore(legacy): small scaffold cleanup
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#5371 feat(legacy): Damage Module new modes/improvements
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Damage.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5406 fix(legacy): Remapper (caused by #4995)
  src/main/java/net/ccbluex/liquidbounce/script/remapper/Remapper.kt
Labels: 🐛 bug, 🌕 legacy

#5408 feat(legacy): expanded ReverseStep range
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/movement/ReverseStep.kt
Labels: 🔥 enhancement, 🌕 legacy

#5434 feat(legacy): horrible & shitty yet working Miniblox disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5440 fix(legacy): default animation choice
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Animations.kt
Labels: 🐛 bug, 🌕 legacy

#5412 feat(legacy/killaura): GenerateClicksBasedOnDistance option
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationSettings.kt
Labels: 🔥 enhancement, 🌕 legacy

#5443 fix(legacy): options in NoRotateSet
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
Labels: 🐛 bug, 🌕 legacy

#5468 feat(legacy/scaffold): blockstoeagle & maxsneakticks range
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/scaffolds/Scaffold.kt
Labels: 🔥 enhancement, 🌕 legacy

#5471 feat(legacy): invcleaner shears & tnt slot sort
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/InventoryCleaner.kt
Labels: 🔥 enhancement, 🌕 legacy

#5472 refactor/fix(legacy): recode eagle maxsneaktime
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/Eagle.kt
Labels: 🔥 enhancement, 🌕 legacy

#5497 fix(legacy): wrong font download
  src/main/java/net/ccbluex/liquidbounce/ui/font/Fonts.kt
Labels: 🐛 bug, 🌕 legacy

#5501 fix(legacy): Few settings not working / ForwardTrack causing NPE during entity render.
  src/main/java/net/ccbluex/liquidbounce/features/module/Module.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ForwardTrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/ProjectileAimbot.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/nofallmodes/other/MLG.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5502 fix(legacy): AngleResetDifference option not being visible in NoRotateSet.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/NoRotateSet.kt
Labels: 🐛 bug, 🌕 legacy
