Repository CCBlueX/LiquidBounce, pull requests merged in 2025-02, with the labels that each got.

#5506 fix(legacy): ByteBuffer flip calls causing issues on non java 8 versions.
  src/main/java/net/ccbluex/liquidbounce/utils/io/BufferExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/GsonExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/IconUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5499 feat(legacy): AltManager move up/move down
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/UsernameCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/special/ChatTokenCommand.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/GuiSessionLogin.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/menus/altgenerator/GuiTheAltening.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/MiscUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/kotlin/CollectionExtension.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🔥 enhancement, 🌕 legacy

#5507 fix(legacy): excluded values in Configurable.values
  src/main/java/net/ccbluex/liquidbounce/config/Value.kt
  src/main/java/net/ccbluex/liquidbounce/file/configs/ValuesConfig.kt
Labels: 🐛 bug, 🌕 legacy

#5490 feat(legacy): ambience world color and new time mode options
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Ambience.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
Labels: 🔥 enhancement, 🌕 legacy

#5484 feat(legacy): Anticheat Detector
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AnticheatDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#5491 feat(legacy): indicator option in antifireball
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/player/AntiFireball.kt
Labels: 🔥 enhancement, 🌕 legacy

#5510 feat(legacy): (Custom) FontManager
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/gui/MixinGuiMultiplayer.java
  src/main/java/net/ccbluex/liquidbounce/lang/Language.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/fontmanager/GuiFontManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/Fonts.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/MiscUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ui/GuiExtensions.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_CN.json
Labels: 🔥 enhancement, 🌕 legacy

#5516 add illegalplayerlook kick
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Kick.kt
Labels: 🔥 enhancement, 🌕 legacy

#5528 feats(legacy): New rotation randomization pattern mode "LazyFlick" + MinRotationDifferenceResetTiming option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Aimbot.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RandomizationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationSettings.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RotationUtils.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5541 refactor(legacy): improve downloads
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/api/ClientApi.kt
  src/main/java/net/ccbluex/liquidbounce/cape/CapeService.kt
  src/main/java/net/ccbluex/liquidbounce/config/SettingsUtils.kt
  src/main/java/net/ccbluex/liquidbounce/features/command/commands/SettingsCommand.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/StaffDetector.kt
  src/main/java/net/ccbluex/liquidbounce/features/special/ClientRichPresence.kt
  src/main/java/net/ccbluex/liquidbounce/script/remapper/Remapper.kt
  src/main/java/net/ccbluex/liquidbounce/tabs/HeadsTab.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiContributors.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiServerStatus.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/altmanager/GuiAltManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/font/Fonts.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/HttpUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/login/UserUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5550 feat(legacy): check Java version at start
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/JavaVersion.kt
Labels: 🔥 enhancement, 🌕 legacy

#5553 Bug fix
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
Labels: 🐛 bug, 🌕 legacy

#5551 refactor(legacy): ClickGUI Panel
  src/main/java/net/ccbluex/liquidbounce/features/module/ModuleManager.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/Panel.kt
Labels: 🔥 enhancement, 🌕 legacy

#5560 feat(legacy): RenderAimPointBox option for KillAura.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#5568 feat(legacy): ClickGUI Text Editor functionality.
  src/main/java/net/ccbluex/liquidbounce/config/Configurable.kt
  src/main/java/net/ccbluex/liquidbounce/config/Values.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/ClickGUI.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/ClickGui.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/elements/ModuleElement.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/BlackStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/LiquidBounceStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/NullStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/styles/SlowlyStyle.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/EditorPanel.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/designer/GuiHudDesigner.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/ColorUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/ui/GuiExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#5562 chore(legacy): update build.gradle
  build.gradle
Labels: 🔥 enhancement, 🌕 legacy

#5567 refactor(legacy): Java detection only for first start
  src/main/java/net/ccbluex/liquidbounce/file/FileManager.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/JavaVersion.kt
Labels: 🔥 enhancement, 🌕 legacy

#5569 fix(legacy): StackOverFlow from NoRotationDisabler option from Disabler.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/HUD.kt
Labels: 🐛 bug, 🌕 legacy

#5573 fix(legacy): General incompatibilities with OrangeMarshall's 1.7 Animation mod.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinProfiler.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/entity/MixinEntityPlayer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/item/MixinMixinItemStack.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/utils/client/ClientUtils.kt
  src/main/java/net/ccbluex/liquidbounce/utils/rotation/RandomizationSettings.kt
  src/main/resources/liquidbounce_at.cfg
Labels: 🐛 bug, 🌕 legacy, 🧩 compatibility

#5577 Remove frost
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/shader/shaders/FrostShader.kt
  src/main/resources/assets/minecraft/liquidbounce/shader/fragment/frost.frag
Labels: 🌕 legacy

#5580 fix(legacy): custom background files not loading
  src/main/java/net/ccbluex/liquidbounce/utils/io/MiscUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5582 refactor(legacy): TabGUI init optimization
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
Labels: 🔥 enhancement, 🌕 legacy

#5576 feat(legacy): improved anticheat detector
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/misc/AnticheatDetector.kt
Labels: 🔥 enhancement, 🌕 legacy

#5612 feat/fixes(legacy): Higher Backtrack delay limit + Fixed FreeLook causing visual issues when screen is not focused/ Notifications not having adjusting width properly.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/FreeLook.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/render/Tracers.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinEntityRenderer.java
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/render/MixinRendererLivingEntity.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Notifications.kt
Labels: 🐛 bug, 🔥 enhancement, 🌕 legacy

#5630 refactor(legacy): LinkedList->ArrayDeque in Disabler
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/exploit/Disabler.kt
Labels: 🔥 enhancement, 🌕 legacy

#5628 Update zh_TW.json
  src/main/resources/assets/minecraft/liquidbounce/lang/zh_TW.json
Labels: 🏳 i18n, 🌕 legacy

#5655 fix(legacy): FontRenderer accepting null as text input.
  src/main/java/net/ccbluex/liquidbounce/ui/font/GameFontRenderer.kt
Labels: 🐛 bug, 🌕 legacy

#5661 feat(legacy): Smoother KillAura AimPointBox positions.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, 🌕 legacy

#5662 feat(legacy): Selective corner rounding for Arraylist element's side rectangle option.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
Labels: 🔥 enhancement, 🌕 legacy

#5666 feat(legacy): On-Press animations for Keystrokes.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Keystrokes.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5670 fix(legacy): Scoreboard element visual issues when Minecraft font is used.
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Keystrokes.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/RenderUtils.kt
Labels: 🐛 bug, 🌕 legacy

#5675 feat(legacy): Shrink target hud padding
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Target.kt
Labels: 🔥 enhancement, 🌕 legacy

#5680 fix(legacy): KillAura AutoBlock not updating block status after manually switching slots.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🐛 bug, 🌕 legacy

#5701 feat(legacy): KillAura ForceFirstHit option.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
Labels: 🔥 enhancement, ⚡ bypass, 🌕 legacy

#5705 fix(legacy): KillAura ClickOnly option doing huge click dumps if not pressing attack button.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/KillAura.kt
  src/main/resources/assets/minecraft/liquidbounce/lang/en_US.json
Labels: 🐛 bug, 🌕 legacy

#5709 chore(legacy): Made some module values subjective.
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Fucker.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/world/Nuker.kt
Labels: 🔥 enhancement, 🌕 legacy

#5717 chore(legacy): Extra decimal place for float value options.
  src/main/java/net/ccbluex/liquidbounce/ui/client/clickgui/style/Style.kt
  src/main/java/net/ccbluex/liquidbounce/utils/extensions/MathExtensions.kt
Labels: 🔥 enhancement, 🌕 legacy

#5719 refactor(legacy): move Java Version warning to popup
  src/main/java/net/ccbluex/liquidbounce/LiquidBounce.kt
  src/main/java/net/ccbluex/liquidbounce/features/module/Category.kt
  src/main/java/net/ccbluex/liquidbounce/injection/forge/mixins/client/MixinMinecraft.java
  src/main/java/net/ccbluex/liquidbounce/ui/client/GuiMainMenu.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/PopupScreen.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/Arraylist.kt
  src/main/java/net/ccbluex/liquidbounce/ui/client/hud/element/elements/TabGUI.kt
  src/main/java/net/ccbluex/liquidbounce/utils/client/JavaVersion.kt
  src/main/java/net/ccbluex/liquidbounce/utils/io/ZipExtensions.kt
  src/main/java/net/ccbluex/liquidbounce/utils/render/IconUtils.kt
Labels: 🔥 enhancement, 🌕 legacy

#5714 refactor(legacy): optimize collection usage in Backtrack
  src/main/java/net/ccbluex/liquidbounce/features/module/modules/combat/Backtrack.kt
Labels: 🔥 enhancement, 🌕 legacy
